{% extends "layout/base.html" %}
{% load static %}

{% block SEO %}
    <!-- SEO module  -->
    <!-- Title  -->
    <title> Meet our Team | Norpro</title>
    <meta content=" Get to know our dedicated team of professionals at Norpro. Meet the
    experts committed to your safety and security needs." name="description">
    <meta name="keywords" content="Safety, safety sault ste marie, health and safety, health and safety sault ste marie, safety services, health and safety services, respirator fit testing, respirator fit testing sault ste marie, fit testing sault ste marie, safety training, safety training sault ste marie, health and safety training, health and safety training sault ste marie, whmis training, confined space training, respirator training, supervisor training,">
    <meta property="og:description" content=" Get to know our dedicated team of professionals at Norpro. Meet the
    experts committed to your safety and security needs."/>
    <meta property="og:title" content=" Meet our Team | Norpro"/>
    <meta property="og:image" content="https://norpro.ca{% static "assets/imgs/header/new-logos.png" %}" />

<!--End of SEO module  -->
{% endblock SEO %}
{% block content %}
    <main>

        <!-- ==================== Start Slider ==================== -->

        <header class="section-padding pb-5 sub-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="caption">
                            {% comment %} <h6 class="sub-title">Guards</h6> {% endcomment %}
                            <h1 class="lets" style="
                            text-align: center;
                        ">Meet the Team
</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">

            <div class="grid-img">
                {% for k in card %}
                <a href="{% url 'id_card' k.slug %}" target="_blank" rel="noopener noreferrer">
                <div class="center-div">
                   
                        <img class="profile-images mb-2" src="{{k.image.url}}" alt="">
                        <h6 class="text-center" style="line-height: 22px;font-size: 18px;">{{k.name}}</h6>
                        <p class="text-center">{{k.title}}</p>
                    
                </div>
                </a>
                {% endfor %}
            </div>
           
        </div>
       
<section class="section-padding"></section>


             

    </main>

    {% endblock content %}