{% extends "layout/base.html" %}
{% load static %}


{% block content %}
<main>

    <!-- ==================== Start Slider ==================== -->

    <header class="page-header blog-header section-padding pb-0">
        <div class="container mt-80">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="caption">
                        <div class="sub-title fz-12">
                            <a href="#0"><span>News &</span></a>

                            <a href="#0"><span>Events</span></a>
                        </div>
                        <h1 class="fzl">{{ news_events.title }}</h1>
                    </div>
                    <div class="info d-flex mt-40 align-items-center">
                        <div class="left-info">
                            <div class="d-flex">
                                <!-- <div class="author-info">
                                        <div class="d-flex align-items-center">
                                            <a href="#0" class="circle-60">
                                                <img src="assets/imgs/blog/author1.jpg" alt="" class="circle-img">
                                            </a>
                                            <a href="#0" class="ml-20">
                                                <span class="opacity-7">Author</span>
                                                <h6 class="fz-16">Ui-ThemeZ</h6>
                                            </a>
                                        </div>
                                    </div> -->
                                <div class="date ml-0">
                                    <a href="#0">
                                        <span class="opacity-7">Published</span>
                                        <h6 class="fz-16">{{ news_events.date|date:"F j, Y" }}</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="right-info ml-auto">
                                <div>
                                    <span class="pe-7s-comment fz-18 mr-10"></span>
                                    <span class="opacity-7">02 Comments</span>
                                </div>
                            </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="background bg-img parallaxie mt-80" style="background-image: url({{ news_events.banner_image.url }});"></div>
    </header>

    <!-- ==================== End Slider ==================== -->



    <!-- ==================== Start Blog ==================== -->

    <section class="blog section-padding pb-0">
        <div class="container">
            <div class="main-post">
                <div class="item pb-60">
                    <div>
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <div class="text">

                                    <p>{{ news_events.description|safe }}</p>
                                </div>

                                {% comment %} <div class="text my-3">

                                    <p>Choose Norpro for a partnership that goes beyond traditional security services. Experience the difference of a team dedicated to securing your present and future. Your safety is our priority, and we are committed to setting the standard for excellence in the security industry.Norpro redefines safety with cutting-edge services, committed to excellence, innovation, and client-centric solutions. We stand as the premier choice for safeguarding what matters most. Explore our range designed for diverse security and health & safety needs.</p>
                                </div> {% endcomment %}
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <!-- <div class="text">
                                        <p>However, Apple might not include it in the Air series when it
                                            launches it. As for
                                            the notebook’s release date, the 15-inch MacBook isn’t coming soon.
                                            It’ll get a
                                            late 2023 release at best, according to the new claims.</p>
                                    </div> -->
                            </div>
                        </div>
                    </div>

                </div>
                <div class="info-area flex mt-20 pb-20">
                    <div>
                        <div class="tags flex">
                            <div class="valign">
                                <span>Tags :</span>
                            </div>
                            <div>
                                <a href="">Security</a>
                                <a href="">Training</a>
                           
                            </div>
                        </div>
                    </div>
                    <div class="ml-auto">
                        <div class="share-icon flex">
                            <div class="valign">
                                <span>Share :</span>
                            </div>
                            <div>
                                <a href="https://www.facebook.com/norpro.secuity.1"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://instagram.com/norprosecurity"><i class="fab fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/company/norpro-security/">   <i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="next-prv-post flex mt-50">
                    <div class="thumb-post bg-img" style="background-image: url({{ prev_news.news_img.url }});">
                        {% if prev_news.pk %}
                            <a href="{% url 'news_event_details' prev_news.pk %}">
                                <span class="fz-12 text-u ls1 main-color mb-15"><i class="pe-7s-angle-left"></i> Prev Post</span>
                                <h6 class="fw-600 fz-16">
                                    {{ prev_news.title }}
                                </h6>
                            </a>
                        {% endif %}
                    </div>
                    <div class="thumb-post ml-auto text-right bg-img" style="background-image: url({{ next_news.news_img.url }});">
                        {% if next_news.pk %}
                            <a href="{% url 'news_event_details' next_news.pk %}">
                                <span class="fz-12 text-u ls1 main-color mb-15">Next Post <i class="pe-7s-angle-right"></i></span>
                                <h6 class="fw-600 fz-16">
                                    {{ next_news.title }}
                                </h6>
                            </a>
                        {% endif %}
                    </div>
                </div>
                

            </div>
        </div>



    </section>

    <!-- ==================== End Blog ==================== -->


</main>
{% endblock content %}