{% extends "layout/base.html" %}
{% load static %}

{% block SEO %}
    <!-- SEO module  -->
    <!-- Title  -->
    <title>Contact Us | Norpro</title>
    <meta content="Connect with Norpro for your Security and Health & Safety
    requirements. Reach out to us for inquiries and assistance. Your safety is our
    priority." name="description">
    <meta name="keywords" content="Safety, safety sault ste marie, health and safety, health and safety sault ste marie, safety services, health and safety services, respirator fit testing, respirator fit testing sault ste marie, fit testing sault ste marie, safety training, safety training sault ste marie, health and safety training, health and safety training sault ste marie, whmis training, confined space training, respirator training, supervisor training,">
    <meta property="og:description" content="Connect with Norpro for your Security and Health & Safety
    requirements. Reach out to us for inquiries and assistance. Your safety is our
    priority."/>
    <meta property="og:title" content="Contact Us | Norpro"/>
    <meta property="og:image" content="https://norpro.ca{% static "assets/imgs/header/new-logos.png" %}" />

<!--End of SEO module  -->
{% endblock SEO %}
{% block content %}
<!-- ==================== End Navbar ==================== -->
<style>
    .phone {
        font-size: 18px;
        font-weight: 600;
        margin-top: 30px;
    }
    .map {
        height: 45vh;
        /* filter: grayscale(100%) invert(92%) contrast(83%); */
        filter: grayscale(0);
    }
    .accordion-item {
        background-color: #222; /* Slightly lighter than body */
        border: none;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .accordion-button {
        background-color: #222;
        color: white;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        border-radius: 5px;
    }

    .accordion-button::after {
        display: none; /* Remove Bootstrap default icon */
    }

    .accordion-button i {
        transition: transform 0.3s ease-in-out;
    }

    .accordion-button[aria-expanded="true"] i {
        transform: rotate(180deg); /* Change + to - when open */
    }

    .accordion-body {
        background-color: #333;
        color: white;
        padding: 15px;
        border-radius: 5px;
    }

    .accordion-button:focus {
        box-shadow: none;
    }
    .accordion-button:not(.collapsed) {
        color: #9d1922;
        background-color: #e7f1ff;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
    }
</style>
<main>

    <!-- ==================== Start Slider ==================== -->

    <header class="page-header section-padding ">
        <div class="container mt-80">
            <div class="row">
                <div class="col-lg-7">
                    <div class="caption">
                        <p class="sub-title">Contact Us</p>
                        <h1 class="lets">Let's make <br> your Trusted Spaces Protected</h1>
                    </div>
                </div>
                <div class="col-lg-5 valign">
                    <div class="text">
                        <p>Thank you for considering Norpro for your security and health & safety needs. Our team is here to assist you with any inquiries, requests, or information you may require. Feel free to reach out to us. We value your security and health & safety needs and look forward to the opportunity to provide you with top-tier services. Reach out to Norpro, where your safety is our priority.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- ==================== End Slider ==================== -->



    <!-- ==================== Start Contact ==================== -->

    <section class="contact-crev section-padding dark_gray">
        <div class="container">
            <div class="row">
                <h2 class="lets">Let's get in touch</h2>
                <p class="fz-15 mt-10">If you would like to work with us or just want to get in
                    touch, we’d love to hear from you!</p>
                <div class="col-lg-6 mt-20">
                    <div class="sec-lg-head">
                        <h4 class="mb-10">Norpro Security</h4>
                        <div class="phone">
                            <a href="tel:18004615114"><i class="bi bi-telephone"></i> 1-800-461-5114</a>
                        </div>
                        <div class="phone">
                            <a href="mailto:info@norpro.ca"><i class="bi bi-envelope"></i> info@norpro.ca</a>
                        </div>
                        <div class="map mt-20">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2745.8624303774823!2d-84.33507122448032!3d46.51083346300176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4d3639b5543fffff%3A0x4fb867515bad42e4!2s477%20Queen%20St%20E%20Suite%20-%20303%2C%20Sault%20Ste.%20Marie%2C%20ON%20P6A%201Z5%2C%20Canada!5e0!3m2!1sen!2sin!4v1742807137051!5m2!1sen!2sin" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-20">
                    <div class="sec-lg-head">
                        <h4 class="mb-10">Norpro H&S</h4>
                        <div class="phone">
                            <a href="tel:12499820600"><i class="bi bi-telephone"></i> 1-249-982-0600</a>
                        </div>
                        <div class="phone">
                            <a href="mailto:healthandsafety@norpro.ca"><i class="bi bi-envelope"></i> healthandsafety@norpro.ca</a>
                        </div>
                        <div class="map mt-20">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2745.8624303774823!2d-84.33507122448032!3d46.51083346300176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4d3639b5543fffff%3A0x4fb867515bad42e4!2s477%20Queen%20St%20E%20Suite%20-%20303%2C%20Sault%20Ste.%20Marie%2C%20ON%20P6A%201Z5%2C%20Canada!5e0!3m2!1sen!2sin!4v1742807137051!5m2!1sen!2sin" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
                <div class="sec-lg-head mb-80">
                    <ul class="rest social-text d-flex mt-60">
                        <li class="mr-30">
                            <a href="https://www.facebook.com/norproltd" target="_blank">Facebook</a>
                        </li>
                        {% comment %} <li class="mr-30">
                            <a href="#0">Twitter</a>
                        </li> {% endcomment %}
                        <li class="mr-30">
                            <a href="https://www.linkedin.com/company/90460035/norproltdq" target="_blank">LinkedIn</a>
                        </li>
                        <li class="mr-30">
                            <a href="https://www.instagram.com/norproltd/" target="_blank">Instagram</a>
                        </li>
                        <li class="mr-30">
                            <a href="https://www.youtube.com/@norprosecurity" target="_blank">Youtube</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/norproltd" target="_blank">X</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="full-width">
                        <form  method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="messages"></div>

                            <div class="controls row">
                                <div class="col-lg-6">
                                    <div class="form-group mb-30">
                                        {{form.name}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-30">
                                        {{form.email}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-30">
                                        {{form.company_name}}
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group mb-30">
                                        {{form.phone}}
                                    </div>
                                </div>

                                <div class="col-12">
                                        {{form.subject}}
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        {{form.message}}
                                    </div>
                                    <div class="mt-30">
                                        <button type="submit" class="butn butn-md butn-bord radius-30">
                                            <span class="text">Let's Talk</span>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2745.862430377481!2d-84.33507122442057!3d46.51083346300179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4d3638496243bd09%3A0x3274032368e319b!2sN1%20Solutions%20Inc.!5e0!3m2!1sen!2sin!4v1697615542958!5m2!1sen!2sin" width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->


    <header class="page-header ">
        <div class="container mt-80">
            <div class="row">
                <div class="col-lg-9">
                    <div class="caption">
                        <h6 class="sub-title">Need to ask something?</h6>
                        <h2 class="lets">Frequently Asked Questions</h2>
                    </div>
                    <!-- <div class="row">
                                    <div class="col-lg-11 offset-lg-1">
                                        <div class="text mt-30">
                                            <p>We’re a diverse team that works as fancies attention to details, enjoys
                                                beers on Friday nights and
                                                aspires to design the dent in the universe. To take a trivial example
                                                undertakes laborious.</p>
                                        </div>
                                    </div>
                                </div> -->
                </div>
            </div>
        </div>
        <div class="main-marq xlrg ">
            <!-- <div class="slide-har st1">
                            <div class="box">
                                <div class="item">
                                    <h4>FAQS</h4>
                                </div>
                                <div class="item">
                                    <h4>FAQS</h4>
                                </div>
                                <div class="item">
                                    <h4>FAQS</h4>
                                </div>
                                <div class="item">
                                    <h4>FAQS</h4>
                                </div>
                                <div class="item">
                                    <h4>FAQS</h4>
                                </div>
                            </div>
                            <div class="box">
                                <div class="item">
                                    <h4>FAQS</h4>
                                </div>
                                <div class="item">
                                    <h4>FAQS</h4>
                                </div>
                                <div class="item">
                                    <h4>FAQS</h4>
                                </div>
                                <div class="item">
                                    <h4>FAQS</h4>
                                </div>
                                <div class="item">
                                    <h4>FAQS</h4>
                                </div>
                            </div>
                        </div> -->
        </div>
    </header>

    <!-- ==================== End Slider ==================== -->



    <!-- ==================== Start Section ==================== -->
    <section class="faqs" id="faq">
        <div class="container">
            <div class="accordion" id="faqAccordion">
                
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            01. WHAT ARE MY DUTIES/RESPONSIBILITIES AS AN
                            INDUSTRIAL SECURITY GUARD ?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            <p class="fz-15">As an Industrial Security Guard, your key duties/responsibilities include:</p>
                            <ul class="cor">
                                <li>Providing security by protecting people and property</li>
                                <li>Conducting routine patrols with the team</li>
                                <li>Ensuring the security, safety and well-being of all personnel, visitors, and the
                                    premises</li>
                                <li>Immediately responding to emergencies to provide necessary assistance</li>
                                <li>Following procedures for various initiatives, including fire prevention, property
                                    patrol, traffic control and accident investigations</li>
                                <li>Writing and submitting security reports</li>
                                <li>Ensuring all incident/accident reports are recorded accurately and submitted to
                                    your manager as they occur</li>
                            </ul>
                        </div>
                    </div>
                </div>
    
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            02. DO I HAVE TO WEAR A UNIFORM?
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            <span>
                                <p><span class="fw-bold fz-15">YES.</span> Norpro Guards are required to wear assigned uniforms and
                                    Personal Protective Equipment (PPE) related to the type of guard. All Industrial
                                    Guards are required to wear:</p>
                            </span>
                            <ul class="cor">
                                <li>Hard-hat (with hearing protection depending on the job)</li>
                                <li>High-vis fire-resistant shirt with the Norpro logo on the left side of the chest</li>
                                <li>ID badge on the right side of chest</li>
                                <li>High-vis fire-resistant jacket</li>
                                <li>High-vis fire-resistant pants</li>
                                <li>Steel toe boots</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            03. WHAT DOES THE SHIFT SCHEDULE LOOK LIKE?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            <p>Our Industrial
                                Security Guards are
                                scheduled to work on
                                7-day and/or 14-day
                                shift rotations and
                                work 12-hour shifts
                                throughout the
                                rotation</p>
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            04. WHERE WILL I BE STAYING, AND WHERE DO I EAT?
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            <p>While working on site, all accommodations and meals are covered at no cost to the employee.</p>
                        </div>
                    </div>
                </div>
    
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            05. HOW WILL I GET TO THE WORK SITES FOR MY SCHEDULED SHIFT ROTATION?
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            <p>We offer free shuttle services to and from job sites, or we provide mileage reimbursement for commutes over 85 kilometers.</p>
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            06. WHAT SITES WILL I BE WORKING AT?
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            <p>Norpro provides Industrial Security Services 3-5 hours north of Sault Ste. Marie.</p>
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            07. WILL I BE ELIGIBLE FOR PAY RAISES?
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            <p>Our Industrial Guards receive wage increases after 6 months and again at 1 year in the field.</p>
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            08. CAN MY FRIEND OR FAMILY MEMBER BECOME AN INDUSTRIAL SECURITY GUARD TOO?
                        </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            <span>
                                <p><span class="fw-bold fz-15">Yes. Norpro</span> offers an <span class="fw-bold fz-15">Employee Referral Bonus </span> to all staff/employees. </p>
                            </span>
    
                            <span class="my-1">
                                <p>Any employee who refers a candidate that is selected to fill a position as an Industrial
                                    Security Guard with Norpro and completes <span class="fw-bold fz-15"> 1 month </span> in the
                                    field will receive a gift card valued at <span class="fw-bold fz-15">$250.00. </span> </p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End Contact ==================== -->

</main>
<section class="section1-padding"></section>



{% endblock content %}