{% extends "layout/base.html" %}
{% load static %}
{% block SEO %}
    <!-- SEO module  -->
    <!-- Title  -->
    <title>Privacy and Policy | Norpro</title>
    <meta content="Norpro offers the finest security services and comprehensive health and
    safety solutions. Protect your business with our expert guidance today." name="description">
    <meta name="keywords" content="Safety, safety sault ste marie, health and safety, health and safety sault ste marie, safety services, health and safety services, respirator fit testing, respirator fit testing sault ste marie, fit testing sault ste marie, safety training, safety training sault ste marie, health and safety training, health and safety training sault ste marie, whmis training, confined space training, respirator training, supervisor training,">
    <meta property="og:description" content="Norpro offers the finest security services and comprehensive health and
    safety solutions. Protect your business with our expert guidance today."/>
    <meta property="og:title" content="Privacy and Policy | Norpro"/>
    <meta property="og:image" content="https://norpro.ca{% static "assets/imgs/header/new-logos.png" %}" />

<!--End of SEO module  -->
{% endblock SEO %}

{% block content %}

<style>
    .phones{
      display:none;
    }
    .ulli{
        color: #ddd;
    }
    .ulli li{
        list-style-type: circle;
        margin-bottom: 5px;
    }
    .table {
        margin: 0 auto;
    }
    
    .table-dark th, .table-dark td {
        vertical-align: middle;
    }
    
    @media(max-width:422px){
      .phone{
        display:none;
      }
      .phones{
        display:block;
        font-size: 18px;
      }
    }
  </style>


<main>
    <section class="pg-about sub-bg">
        <div class="container">
            <div class="sec-lg-head mb-80">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="fz-40 fw-700 d-rotate wow animated">
                            <span class="rotate-text">Privacy Policy</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- ==================== Start about ==================== -->

    <section class="block-serv pb-80 bord-thin-top">
        <div class="container mt-80">
            <div class="row">
                <div class="col-lg-12">
                    <div class="caption">
                      <h6 class="sub-title" style="font-weight: 600;margin-left: 20px;">1. Introduction</h6>
                        <div style="margin-left: 20px;">
                            <p>Asbestos and lead are listed as designated substances under Ontario Regulation 490/09, and were widely used in construction materials and surface coatings until the late 1980’s. When these materials are in good condition, and remain in tact, they do not pose a significant danger to the home/building owners and occupants. However, during repair, renovation, maintenance or demolition of buildings and equipment containing these materials, there is an increased risk of exposure. As such, it is very important, and a legal requirement, that building owners confirm the presence / absence of designated substances within the building or project materials. Many asbestos and lead containing materials cannot be distinguished by visual inspection alone and must be analyzed by an accredited laboratory. </p>
                        <div>
                    </div>
                </div>
                <br>
                <div class="col-lg-12">
                    <div class="caption">
                        <h6 class="sub-title" style="font-weight: 600;margin-left: 20px;">2. Information We Collect</h6>
                        <div style="margin-left: 20px;">
                          <ul class="cor col-lg-6 col-12">
                              <li>
                                Contact Information: Name, email address, phone number, mailing address.
                              </li>
                              <li>
                                Service Information: Details regarding the security services you request or utilize.
                              </li>
                              <li>
                                Usage Data: Information on how you access and use our website.
                              </li>
                              <li>
                                Communications: Correspondence sent to us via email, contact forms, or phone.
                              </li>
                          </ul>
                      <div>
                    </div>
                </div>
                <br>
                <div class="col-lg-12">
                  <div class="caption">
                      <h6 class="sub-title" style="font-weight: 600;margin-left: 20px;">3. How We Use Your Information</h6>
                      <div style="margin-left: 20px;">
                        <ul class="cor col-lg-6 col-12">
                            <li>
                              To provide and improve our security services.
                            </li>
                            <li>
                              To communicate with you regarding inquiries and services.
                            </li>
                        </ul>
                    <div>
                  </div>
                </div>
                <br>
                <div class="col-lg-12">
                  <div class="caption">
                      <h6 class="sub-title" style="font-weight: 600;margin-left: 20px;">4. Disclosure of Your Information</h6>
                      <div style="margin-left: 20px;">
                        <p>We do not disclose your information to third parties</p>
                    <div>
                  </div>
                </div>
                <br>
                <div class="col-lg-12">
                  <div class="caption">
                      <h6 class="sub-title" style="font-weight: 600;margin-left: 20px;">5. Data Security</h6>
                      <div style="margin-left: 20px;">
                        <p>We implement reasonable security measures to protect your personal information, but no method of transmission or storage is completely secure.</p>
                    <div>
                  </div>
                </div>
                <br>
                <div class="col-lg-12">
                  <div class="caption">
                      <h6 class="sub-title" style="font-weight: 600;margin-left: 20px;">7. Third-Party Links
                      </h6>
                      <div style="margin-left: 20px;">
                      <p>Our website may contain links to external sites. We are not responsible for their content or privacy practices.
                      </p>
                    <div>
                  </div>
                </div>
                <br>
                <div class="col-lg-12">
                  <div class="caption">
                      <h6 class="sub-title" style="font-weight: 600;margin-left: 20px;">8. Changes to This Privacy Policy
                      </h6>
                      <div style="margin-left: 20px;">
                      <p>We may update this Privacy Policy periodically. Changes will be posted on this page.
                      </p>
                    <div>
                  </div>
                </div>
                <br>
                <div class="col-lg-12">
                  <div class="caption">
                      <h6 class="sub-title" style="font-weight: 600;margin-left: 20px;">9. Contact Us</h6>
                      <div style="margin-left: 20px;">
                        <p style="font-weight:bold;">Norpro Security Services</p>
                        <p><a href="mailto:info@norpro.ca">Email:info@norpro.ca</a></p>
                        <p><a href="tel:18004615114">Toll Free:1-800-461-5114</a></p>
                    <div>
                  </div>
                </div>
            </div>
        </div>
    </section>



    {% endblock content %}