{% extends 'crm/base.html' %}
{% load static %}
{% block title %} Company testimonial list {% endblock title %}
{% block content %}
<style>
    .btn-group-sm>.btn-icon.btn,
    .btn-icon.btn-sm {
        font-size: 1.2rem !important;
        height: calc(1.625rem + 2px);
        width: calc(1.625rem + 2px);
    }

    @media (min-width: 992px) {
        .card-datatable.table-responsive {
            overflow-x: hidden;
        }
    }
    .sform {
        margin-top: -25px;
    }
</style>

<!-- Content wrapper -->
<div class="content-wrapper">

    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h4 class="fw-bold py-3 mb-4">
                    <span class="text-muted fw-light"></span><a href="{% url "company_testimonial_list" %}">Company Testimonial</a> / List
                </h4>
            </div>
            <div class="col-md-6 sform">
                <form method="get" action="#" class="d-flex justify-content-end">
                    <input name="search" type="text" class="form-control" value="{{ request.GET.search }}" placeholder="Search by name / position" style="margin-right: 5px;">
                    <input type="submit" class="btn btn-primary" value="Search">
                </form>
            </div>
        </div>
        <!--Table Card-->
        <div class="card">
            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="card-header flex-column flex-md-row">
                        <div class="head-label">
                            <h5 class="card-title mb-0">Company Testimonial List</h5>
                        </div>
                        <div class="dt-action-buttons text-end pt-3 pt-md-0">
                            <div class="dt-buttons btn-group flex-wrap">
                                <a class="btn btn-secondary create-new btn-primary" href="{% url "company_testimonial_create" %}" tabindex="0" aria-controls="DataTables_Table_0" type="button">
                                    <span style="display:flex; align-items:center;"><i class="bx bx-plus me-sm-1"></i> <span class="d-none d-sm-inline-block">Add New Company Testimonial</span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <table class="datatables-basic table border-top dataTable no-footer dtr-column collapsed" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                        <thead>
                            <tr>
                                <th style="width: 0px;">#</th>
                                {% comment %} <th style="width: 130px;">Title</th> {% endcomment %}
                                <th style="width: 0px;">Name</th>
                                <th style="width: 0px;">Position</th>
                                <th style="width: 150px;">Feedback</th>
                                <th style="width: 130px;">Image</th>
                                <th style="width: 130px;">Date</th>
                                <th style="width: 90px;" class="dtr-hidden">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for list in com_tests %}
                            <tr class="odd">
                                <td>{{ forloop.counter}}</td>
                                {% comment %} <td><span class="emp_name text-truncate">{{ payment.title }}</span></td> {% endcomment %}
                                <td>{{ list.name }}</td>
                                <td>{{ list.position }}</td>
                                <td style="max-width: 255px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ list.feedback }}</td>
                                <td style="width: 150px; height: 150px;">
                                    <a href="{{ list.com_test_img.url }}">
                                    <img src="{{ list.com_test_img.url }}" alt="Image" style="width: 100%; height: 100%; object-fit: cover;"></td>
                                    </a>
                                <td>{{ list.updated_at|date:"d-m-Y" }}</td>
                                <td class="dtr-hidden" style="">
                                    <a href="{% url 'company_testimonial_edit' list.id %}" class="btn btn-sm btn-icon item-edit">
                                        <i class="bx bxs-edit"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-icon payment-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#exampleModal{{ list.id }}">
                                        <i class="bx bxs-x-circle"></i>
                                    </a>
                                    
                                </td>
                            </tr>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal{{ list.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete company testimonial</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    Are you sure to delete this company testimonial ?
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="{% url 'delete_company_testimonial' list.id %}">
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </a>
                                    </div>
                                </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- ... more table rows ... -->
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-12">
                            <div class="m-3">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
                                            Showing {{ com_tests.start_index }} to {{ com_tests.end_index }} of {{ com_tests.paginator.count }} entries
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 text-end">
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                            <ul class="pagination justify-content-end">
                                                {% if com_tests.has_previous %}
                                                    <li class="paginate_button page-item previous">
                                                        <a href="?page={{ com_tests.previoucom_tests_number }}&search={{ request.GET.search }}" aria-controls="DataTables_Table_0" class="page-link">Previous</a>
                                                    </li>
                                                {% else %}
                                                    <li class="paginate_button page-item previous disabled">
                                                        <a href="#" aria-controls="DataTables_Table_0" class="page-link">Previous</a>
                                                    </li>
                                                {% endif %}

                                                <!-- Pagination numbers -->
                                                {% if com_tests.number > 3 %}
                                                    <li class="paginate_button page-item">
                                                        <a href="?page=1&search={{ request.GET.search }}" aria-controls="DataTables_Table_0" class="page-link">...</a>
                                                    </li>
                                                {% endif %}

                                                {% for i in com_tests.paginator.page_range %}
                                                    {% if com_tests.number == i %}
                                                        <li class="paginate_button page-item active">
                                                            <a href="?page={{ i }}&search={{ request.GET.search }}" aria-controls="DataTables_Table_0" class="page-link">{{ i }}</a>
                                                        </li>
                                                    {% elif i > com_tests.number|add:'-3' and i < com_tests.number|add:'3' %}
                                                        <li class="paginate_button page-item">
                                                            <a href="?page={{ i }}&search={{ request.GET.search }}" aria-controls="DataTables_Table_0" class="page-link">{{ i }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}

                                                {% if com_tests.paginator.num_pages > com_tests.number|add:'3' %}
                                                    <li class="paginate_button page-item">
                                                        <a href="?page={{ com_tests.paginator.num_pages }}&search={{ request.GET.search }}" aria-controls="DataTables_Table_0" class="page-link">...</a>
                                                    </li>
                                                {% endif %}

                                                {% if com_tests.has_next %}
                                                    <li class="paginate_button page-item next">
                                                        <a href="?page={{ com_tests.next_page_number }}&search={{ request.GET.search }}" aria-controls="DataTables_Table_0" class="page-link">Next</a>
                                                    </li>
                                                {% else %}
                                                    <li class="paginate_button page-item next disabled">
                                                        <a href="#" aria-controls="DataTables_Table_0" class="page-link">Next</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

            </div> <!--Table Card-->

        </div>
        <!-- / Content -->


    </div>
    <!-- Content wrapper -->

{% endblock content %}
