{% extends "layout/base.html" %}
{% load static %}
{% block SEO %}
    <!-- SEO module  -->
    <!-- Title  -->
    <title>Security Guard – First Aid Not Included | Norpro</title>
    <meta content="To obtain your Ontario Security Guard License, you must be at least 18 years old, have a clean
        criminal record, complete a 40-hour training course, pass a 60-question multiple-choice exam,
        and submit your application to the Ministry. This course consists of 33.5 hours of online study
        and a blended Emergency First Aid &amp; CPR/AED training program, which includes 3-4 hours
        of online study and 4-5 hours of in-person training." name="description">
    <meta name="keywords" content="Safety, safety sault ste marie, health and safety, health and safety sault ste marie, safety services, health and safety services, respirator fit testing, respirator fit testing sault ste marie, fit testing sault ste marie, safety training, safety training sault ste marie, health and safety training, health and safety training sault ste marie, whmis training, confined space training, respirator training, supervisor training,">
    <meta property="og:description" content="To obtain your Ontario Security Guard License, you must be at least 18 years old, have a clean
        criminal record, complete a 40-hour training course, pass a 60-question multiple-choice exam,
        and submit your application to the Ministry. This course consists of 33.5 hours of online study
        and a blended Emergency First Aid &amp; CPR/AED training program, which includes 3-4 hours
        of online study and 4-5 hours of in-person training."/>
    <meta property="og:title" content="Security Guard – First Aid Not Included | Norpro"/>
    <meta property="og:image" content="https://norpro.ca{% static "assets/imgs/Security-Guard.jpg" %}" />

<!--End of SEO module  -->
{% endblock SEO %}

{% block content %}

<style>
    .phones{
      display:none;
    }
    .ulli{
        color: #ddd;
    }
    .ulli li{
        list-style-type: circle;
        margin-bottom: 5px;
    }
    .table {
        margin: 0 auto;
    }
    
    .table-dark th, .table-dark td {
        vertical-align: middle;
    }
    
    @media(max-width:422px){
      .phone{
        display:none;
      }
      .phones{
        display:block;
        font-size: 18px;
      }
    }
  </style>


<main>



    <!-- ==================== Start about ==================== -->

    <section class="block-serv pb-80 bord-thin-top">
        <div class="container mt-80">
            <div class="row">
                <h2 style="font-size: 30px;font-weight: 600;">Security Guard – First Aid Not Included</h2>
                <div class="col-lg-12 mb-3 mt-2">
                    <div class="caption">
                        <p class="fs-6" style="margin-left: 20px;"><span style="font-weight: 600;">Course Type:</span> Online</p>
                        <p class="fs-6" style="margin-left: 20px;"><span style="font-weight: 600;">Course Price:</span> $99</p>
                    </div>
                </div>
                <div class="col-lg-12 mb-3 mt-2">
                    <div class="caption">
                        <p class="fs-6" style="margin-left: 20px;"><span style="font-weight: 600;">PROMO CODE:</span> Norpro25</p>
                        <p class="fs-6" style="margin-left: 20px;">* For 10% off</p>
                    </div>
                </div>
                <h4 class="text-left mb-4">Overview</h4>
                <div class="col-lg-12 mt-5">
                    <div class="caption">
                        <h6 class="sub-title" style="font-weight: 600;margin-left: 20px;">WHY DO I NEED THIS TRAINING?</h6>
                        <div style="margin-left: 30px;">
                            <p>To obtain your Ontario Security Guard License, you must be at least 18 years old, have a clean
                                criminal record, complete a 40-hour training course (33.5 Security Guard Training and 6.5 First
                                Aid Training), pass a 60-question multiple-choice exam, and submit your application to the
                                Ministry.</p>
                                <br>
                                <p>This course consists of 33.5 hours of online study. A blended Emergency First Aid &amp; CPR/AED
                                    training program must be taken in addition to this course to obtain your Security Guard License.
                                    A list of WSIB Ontario approved vendors can be found <a href="http://wsib.ca/en/providers-approved-deliver-emergency-and-standard-first-aid" style="font-weight: 600;">here.</a></p>
                        <div>
                    </div>
                </div>
                <br>
                <div class="col-lg-12">
                    <div class="caption">
                        <h6 class="sub-title" style="font-weight: 600;margin-left: 20px;">WHY CHOOSE THIS COURSE?</h6>
                        <div style="margin-left: 30px;">
                            <p>
                                This Security Guard Course provides all the essential knowledge required to pass your licensing
                                exam, plus extra insights to boost your confidence on the job.
                            </p><br>
                            <ul class="cor col-lg-6 col-12">
                                <li>
                                    12 in-depth modules covering everything you need to know.
                                </li>
                                <li>
                                    Expert-designed curriculum to set you up for success.
                                </li>
                            </ul>
                            <p>By completing this program, you&#39;ll gain the skills and knowledge needed to protect people,
                                respond to emergencies, and thrive in the security industry.</p>
                        <div>
                    </div>
                </div>
                <br>
                <div class="col-lg-12">
                    <div class="caption">
                        <h6 class="sub-title" style="font-weight: 600;margin-left: 20px;">WHAT WILL BE COVERED?</h6>
                        <div style="margin-left: 30px;">
                            <p>Each module is designed to give you the knowledge and skills required to excel in your security
                                career! Upon completion of the Ministry-mandated requirements, you’ll be eligible to apply for
                                your Ontario Security Guard License.</p>
                            <ul class="cor col-lg-6 col-12">
                                <li>
                                    Licensing Process
                                </li>
                                <li>
                                    The Private Security and Investigative Services Act, 2005 &amp; Ministry Code of
                                    Conduct
                                </li>
                                <li>
                                    Basic Security Procedures
                                </li>
                                <li>
                                    Writing Security Reports
                                </li>
                                <li>
                                    Health &amp; Safety
                                </li>
                                <li>
                                    Emergency Response Preparation
                                </li>
                                <li>
                                    The Canadian Legal System
                                </li>
                                <li>
                                    Legal Authorities
                                </li>
                                <li>
                                    Communication Skills
                                </li>
                                <li>
                                    Sensitivity Training
                                </li>
                                <li>
                                    Use of Force
                                </li>
                            </ul>
                        <div>
                    </div>
                </div><br>
                <div class="col-lg-12">
                    <div class="caption">
                        <h6 style="font-weight: 600; margin-left: 20px;">Register:</h6>
                        <p style="margin-left: 30px;">Click the button below to register now!</p><br>
                        <div style="margin-left: 30px;">
                            <a href="https://securityguardcourse.ca/product/security-guard-first-aid-not-included/" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
                                Register Now
                            </a>
                        </div>
                        
                    </div>
                </div>
                
                
            </div>
        </div>
    </section>
    
    {% endblock content %}