{% extends 'crm/base.html' %}
{% load static %}
{% block title %} Teams list {% endblock title %}
{% block content %}
<style>
    .btn-group-sm>.btn-icon.btn,
    .btn-icon.btn-sm {
        font-size: 1.2rem !important;
        height: calc(1.625rem + 2px);
        width: calc(1.625rem + 2px);
    }

    @media (min-width: 992px) {
        .card-datatable.table-responsive {
            overflow-x: hidden;
        }
    }
    .sform {
        margin-top: -25px;
    }
    .name-cell {
      }
      
      .name-text {
        display: block;
        width: 140px;
      }
</style>

<!-- Content wrapper -->
<div class="content-wrapper">

    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h4 class="fw-bold py-3 mb-4">
                    <span class="text-muted fw-light"></span><a href="{% url "teams_list" %}">Teams</a> / List
                </h4>
            </div>
            <div class="col-md-6 sform">
                <form method="get" action="#" class="d-flex justify-content-end">
                    <input name="search" type="text" class="form-control" value="{{ request.GET.search }}" placeholder="Search by name / position / phone / email" style="margin-right: 5px;">
                    <input type="submit" class="btn btn-primary" value="Search">
                </form>
            </div>
        </div>
        <!--Table Card-->

        <div class="card">
            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="card-header flex-column flex-md-row">
                        <div class="head-label">
                            <h5 class="card-title mb-0">Teams List</h5>
                        </div>
                        <div class="dt-action-buttons text-end pt-3 pt-md-0">
                            <div class="dt-buttons btn-group flex-wrap">
                                <a class="btn btn-secondary create-new btn-primary" href="{% url "Create_Teams" %}" tabindex="0" aria-controls="DataTables_Table_0" type="button">
                                    <span style="display:flex; align-items:center;"><i class="bx bx-plus me-sm-1"></i> <span class="d-none d-sm-inline-block">Add New Team Member</span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <table class="datatables-basic table border-top dataTable no-footer dtr-column collapsed" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                        <thead>
                            <tr>
                                <th style="width: 0px;">#</th>
                                <th style="width: 0px;">Name</th>
                                <th style="width: 0px;">Position</th>
                                <th style="width: 0px;">Phone number</th>
                                <th style="width: 130px;">Email</th>
                                <th style="width: 0px;">Image</th>
                                <th style="width: 90px;" class="dtr-hidden">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for list in tests %}
                            <tr class="odd">
                                <td>{{ forloop.counter }}</td>
                                <td class="name-cell" title="{{ list.name }}">
                                    <span class="name-text">{{ list.name }}</span>
                                  </td>
                                  <td class="name-cell" title="{{ list.title }}">
                                    <span class="name-text">{{ list.title }}</span>
                                  </td>
                                  <td class="name-cell" title="{{ list.phone_number }}">
                                    <span class="name-text">{{ list.phone_number }}</span>
                                  </td>
                                  <td class="name-cell" title="{{ list.user.email }}">
                                    <span class="name-text">{{ list.user.email }}</span>
                                  </td>
                                <td style="width: 150px; height: 150px;">
                                    {% if list.image %}
                                    <a href="{{ list.image.url }}">
                                    <img src="{{ list.image.url }}" alt="Image" style="width: 80%; height: 85%; object-fit: cover;border-radius: 100%;">
                                    </a>
                                    {% else %}
                                    <p>No Image</p>
                                    {% endif %}
                                </td>
                                <td class="dtr-hidden" style="">
                                    <a href="{% url 'EditTeams' list.id %}" class="btn btn-sm btn-icon item-edit" title="Edit">
                                        <i class="bx bxs-edit"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-icon payment-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#exampleModal{{ list.id }}">
                                        <i class="bx bxs-x-circle"></i>
                                    </a>
                                </td>
                            </tr>
                              <!-- Modal -->
                              <div class="modal fade" id="exampleModal{{ list.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete Team Member</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    Are you sure to delete this Team Member ?
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="{% url 'deleteteams' list.id %}">
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </a>
                                    </div>
                                </div>
                                </div>
                            </div>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-12">
                            <div class="m-3">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
                                            Showing {{ tests.start_index }} to {{ tests.end_index }} of {{ tests.paginator.count }} entries
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 text-end">
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                            <ul class="pagination justify-content-end">
                                                {% if tests.has_previous %}
                                                    <li class="paginate_button page-item previous">
                                                        <a href="?page={{ tests.previoutests_number }}&search={{ request.GET.search }}" aria-controls="DataTables_Table_0" class="page-link">Previous</a>
                                                    </li>
                                                {% else %}
                                                    <li class="paginate_button page-item previous disabled">
                                                        <a href="#" aria-controls="DataTables_Table_0" class="page-link">Previous</a>
                                                    </li>
                                                {% endif %}
            
                                                <!-- Pagination numbers -->
                                                {% if tests.number > 3 %}
                                                    <li class="paginate_button page-item">
                                                        <a href="?page=1&search={{ request.GET.search }}" aria-controls="DataTables_Table_0" class="page-link">...</a>
                                                    </li>
                                                {% endif %}
            
                                                {% for i in tests.paginator.page_range %}
                                                    {% if tests.number == i %}
                                                        <li class="paginate_button page-item active">
                                                            <a href="?page={{ i }}&search={{ request.GET.search }}" aria-controls="DataTables_Table_0" class="page-link">{{ i }}</a>
                                                        </li>
                                                    {% elif i > tests.number|add:'-3' and i < tests.number|add:'3' %}
                                                        <li class="paginate_button page-item">
                                                            <a href="?page={{ i }}&search={{ request.GET.search }}" aria-controls="DataTables_Table_0" class="page-link">{{ i }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
            
                                                {% if tests.paginator.num_pages > tests.number|add:'3' %}
                                                    <li class="paginate_button page-item">
                                                        <a href="?page={{ tests.paginator.num_pages }}&search={{ request.GET.search }}" aria-controls="DataTables_Table_0" class="page-link">...</a>
                                                    </li>
                                                {% endif %}
            
                                                {% if tests.has_next %}
                                                    <li class="paginate_button page-item next">
                                                        <a href="?page={{ tests.next_page_number }}&search={{ request.GET.search }}" aria-controls="DataTables_Table_0" class="page-link">Next</a>
                                                    </li>
                                                {% else %}
                                                    <li class="paginate_button page-item next disabled">
                                                        <a href="#" aria-controls="DataTables_Table_0" class="page-link">Next</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!--Table Card-->

        </div>
        <!-- / Content -->


    </div>
    <!-- Content wrapper -->

{% endblock content %}
