{% extends 'crm/base.html' %}
{% load static %}
{% block title %}{{title}} Career create{% endblock title %}
{% block content %}
<style>
    .btn-group-sm>.btn-icon.btn, .btn-icon.btn-sm {
        font-size: 1.2rem !important;
        height: calc(1.625rem + 2px);
        width: calc(1.625rem + 2px);
    }
@media (min-width: 992px) {
  .card-datatable.table-responsive {
    overflow-x: hidden;
  }
}
</style>
    <!-- Content wrapper -->
    <div class="content-wrapper">

        <!-- Content -->
          <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4">
                <span class="text-muted fw-light"></span><a href="{% url "career_list" %}">Career</a> / Create
              </h4>
            <!--Table Card-->
            <div class="container">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{form.media}}    
                  {% if form.errors %}
                        <div class="alert alert-danger">
                            {% for field in form %}
                                {% if field.errors %}
                                {{ field.label }}: {{ field.errors }}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}  
                        
                <div class="row mb-3">
                  <div class="col-md-12">
                      <div class="card">
                          <div class="card-body">
                            <div class="align-items-center">
                              <label for="{{ form.title.id_for_label }}" class="form-label">Title <span class="text-danger">*</span></label>
                              {{ form.title }}
                            </div>
                          </div>
                      </div>
                  </div>
                </div>


                  <div class="row mb-3">
                      <div class="col-md-6">
                          <div class="card">
                              <div class="card-body">
                                <label for="{{ form.place.id_for_label }}" class="form-label">Location <span class="text-danger">*</span></label>
                                {{ form.place }}
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                              <label for="{{ form.place_2.id_for_label }}" class="form-label">Second Location</label>
                                {{ form.place_2 }}
                            </div>
                        </div>
                    </div>
                  </div>


                  <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                              <div class="align-items-center">
                                <label for="{{ form.description.id_for_label }}" class="form-label">Description <span class="text-danger">*</span></label>
                                <br>
                                {{ form.description }}
                              </div>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                              <div class="align-items-center">
                                <label for="{{ form.schedule.id_for_label }}" class="form-label">Schedule <span class="text-danger">*</span></label>
                                <br>
                                {{ form.schedule }}
                              </div>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                              <div class="align-items-center">
                                <label for="{{ form.licence_certification.id_for_label }}" class="form-label">Licence Certification <span class="text-danger">*</span></label>
                                <br>
                                {{ form.licence_certification }}
                              </div>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                              <div class="align-items-center">
                                <label for="{{ form.responsibilities.id_for_label }}" class="form-label">Responsibilities <span class="text-danger">*</span></label>
                                <br>
                                {{ form.responsibilities }}
                              </div>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                              <div class="align-items-center">
                                <label for="{{ form.qualifications.id_for_label }}" class="form-label">Qualifications <span class="text-danger">*</span></label>
                                <br>
                                {{ form.qualifications }}
                              </div>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                              <div class="align-items-center">
                                <label for="{{ form.expect.id_for_label }}" class="form-label">Expectations <span class="text-danger">*</span></label>
                                <br>
                                {{ form.expect }}
                              </div>
                            </div>
                        </div>
                    </div>
                  </div>
               

                  <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                              <div class="align-items-center">
                                <label for="{{ form.status.id_for_label }}" class="form-label">Status <span class="text-danger">*</span></label>
                                {{ form.status }}
                              </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  
                  <button class="btn btn-primary mb-3" type="submit">Save</button>
              </form>
              
            </div>  

          </div>
        <!-- / Content -->


    </div>
    <!-- Content wrapper -->

    {% comment %} <script>
        $(document).ready(function () {
            var projectId = parseInt("{{ project_id }}") || 0;
            if (projectId){
              $("#id_project").val(projectId);
            }
          });
    </script> {% endcomment %}

{% endblock content %}