{% extends "layout/base.html" %}
{% load static %}

{% block SEO %}
    <!-- SEO module  -->
    <!-- Title  -->
    <title>Patrol services | Sault Ste. Marie | Norpro</title>
    <meta content=" Discover Norpro's productive mobile patrol services for efficient security
    solutions. Our expert security patrol ensures 24/7 protection for your assets." name="description">
    <meta name="keywords" content="Safety, safety sault ste marie, health and safety, health and safety sault ste marie, safety services, health and safety services, respirator fit testing, respirator fit testing sault ste marie, fit testing sault ste marie, safety training, safety training sault ste marie, health and safety training, health and safety training sault ste marie, whmis training, confined space training, respirator training, supervisor training,">
    <meta property="og:description" content="Discover Norpro's productive mobile patrol services for efficient security
    solutions. Our expert security patrol ensures 24/7 protection for your assets."/>
    <meta property="og:title" content="Patrol services | Sault Ste. Marie | Norpro"/>
    <meta property="og:image" content="https://norpro.ca{% static "assets/imgs/patrol-ser 2.jpg" %}" />

<!--End of SEO module  -->
{% endblock SEO %}
{% block content %}
<style>
    .color_code{
        background:#9d1922;
        padding: 40px 0 0 0;
    }
    .icon_code{
        background: rgb(255 255 255 / 28%) !important;
    }
    .profile-images {
        left: auto;
        top: 66%;
        left: 60px;
        height: 95px;
        width: 95px;
        border-radius: 50%;
        background-position: center center !important;
        background-size: cover !important;
        margin: 10px auto 0 auto;
        border: 4px solid #cbc7c7;
        object-fit: cover;
    }
    .grid-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 30px;
        margin-top: 0px;
    }
    .icon_size {
        height: 50px;
        width: 50px;
        margin-left: 18px;
        margin-top: 18px;
    }
    .grid-img > a {
        flex-basis: calc(18% - 20px);
        max-width: calc(20% - 20px);
    }
    .serv-intro {
        background: url('{% static "assets/imgs/security/patrol.png" %}') no-repeat center center/cover;
        background-blend-mode: multiply;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 80px 0;
    }
    .block-serv .row{
        padding: 80px;
    }
    @media(max-width:600px){
        .grid-img a {
          flex: 1 1 calc(33.33% - 30px); /* Each item takes up 1/3 of the row with gap */
          max-width: calc(33.33% - 30px);
      }
    }
    @media(max-width:500px){
        .profile-images {
            left: auto;
            top: 66%;
            left: 60px;
            height: 80px;
            width: 80px;
            border-radius: 50%;
            background-position: center center !important;
            background-size: cover !important;
            margin: 10px auto 0 auto;
            border: 4px solid #cbc7c7;
            object-fit: cover;
        }
        .icon_size {
            height: 40px;
            width: 40px;
            margin-left: 16px;
            margin-top: 16px;
        }
        .grid-img a {
            flex: 1 1 calc(50% - 30px); 
            max-width: calc(50% - 30px);
        }
    }
    @media(max-width:422px){
        .block-serv .row{
          padding: 40px 10px;
        }
    }
</style>
    <!-- ==================== End Navbar ==================== -->

    <main>

        
        <section class="serv-intro">
            <div class="container">
                <div class="sec-lg-head mb-20">
                    <div class="row">
                        <div class="col-lg-6">
                            <h1 class="dot-titl-non mb-15 wow fadeIn">Our Security Service</h1>
                            <h2 class="fz-60 fw-700 d-rotate wow animated">
                                <span class="rotate-text"> Patrol</span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container">

                        <div class="grid-img">
                            <a href="#" class="scroll-to-section" data-target="keyholder_services" rel="noopener noreferrer">
                                <div class="center-div">
                                <div class="profile-images mb-2">
                                    <svg class="icon_size" xxmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                                        <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                                        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                    </svg>
                                </div>
                                    <h6 class="text-center" style="line-height: 18px;font-size: 15px;">Keyholder Services</h6>
                                    
                                </div>
                            </a>
                            <a href="#" class="scroll-to-section" data-target="alarm_response" rel="noopener noreferrer">
                                <div class="center-div">
                                <div class="profile-images mb-2">
                                    <svg class="icon_size" xmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-alarm" viewBox="0 0 16 16">
                                        <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z"/>
                                        <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z"/>
                                    </svg>
                                    </div>
                                    <h6 class="text-center" style="line-height: 18px;font-size: 15px;">Alarm Response</h6>
                                    
                                </div>
                            </a>
    
                            <a href="#" class="scroll-to-section" data-target="spot_checks" rel="noopener noreferrer">
                                <div class="center-div">
                                <div class="profile-images mb-2">
                                    <svg class="icon_size" xmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                                    </svg>
                                    </div>
                                    <h6 class="text-center" style="line-height: 18px;font-size: 15px;">Spot Checks</h6>
                                    
                                </div>
                            </a>
    
                            <a href="#" class="scroll-to-section" data-target="parking_lot_patrol" rel="noopener noreferrer">
                                <div class="center-div">
                                <div class="profile-images mb-2">
                                    <svg class="icon_size" xmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-car-front" viewBox="0 0 16 16">
                                        <path d="M4 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm10 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2H6ZM4.862 4.276 3.906 6.19a.51.51 0 0 0 .497.731c.91-.073 2.35-.17 3.597-.17 1.247 0 2.688.097 3.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 10.691 4H5.309a.5.5 0 0 0-.447.276Z"/>
                                        <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM4.82 3a1.5 1.5 0 0 0-1.379.91l-.792 1.847a1.8 1.8 0 0 1-.853.904.807.807 0 0 0-.43.564L1.03 8.904a1.5 1.5 0 0 0-.03.294v.413c0 .796.62 1.448 1.408 1.484 1.555.07 3.786.155 5.592.155 1.806 0 4.037-.084 5.592-.155A1.479 1.479 0 0 0 15 9.611v-.413c0-.099-.01-.197-.03-.294l-.335-1.68a.807.807 0 0 0-.43-.563 1.807 1.807 0 0 1-.853-.904l-.792-1.848A1.5 1.5 0 0 0 11.18 3H4.82Z"/>
                                    </svg>
                                    </div>
                                    <h6 class="text-center" style="line-height: 18px;font-size: 15px;">Parking Lot Patrol</h6>
                                    
                                </div>
                            </a>
    
                            <a href="#" class="scroll-to-section" data-target="checking_windows_and_doors" rel="noopener noreferrer">
                                <div class="center-div">
                                <div class="profile-images mb-2">
                                    <svg class="icon_size" xmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
                                        <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                                        <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
                                    </svg>
                                    </div>
                                    <h6 class="text-center" style="line-height: 18px;font-size: 15px;">Checking Windows and Doors</h6>
                                    
                                </div>
                            </a>
    
                            <a href="#" class="scroll-to-section" data-target="emergency_responses" rel="noopener noreferrer">
                                <div class="center-div">
                                <div class="profile-images mb-2">
                                    <svg class="icon_size" xmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                                    </svg>
                                    </div>
                                    <h6 class="text-center" style="line-height: 18px;font-size: 15px;">Emergency Responses</h6>
                                    
                                </div>
                            </a>
    
                            <a href="#" class="scroll-to-section" data-target="perimeter_sweeps" rel="noopener noreferrer">
                                <div class="center-div">
                                <div class="profile-images mb-2">
                                    <svg class="icon_size" xxmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-camera-video" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z"/>
                                    </svg>
                                    </div>
                                    <h6 class="text-center" style="line-height: 18px;font-size: 15px;">Perimeter Sweeps</h6>
                                    
                                </div>
                            </a>
    
                            <a href="#" class="scroll-to-section" data-target="by_law_enforcement" rel="noopener noreferrer">
                                <div class="center-div">
                                <div class="profile-images mb-2">
                                    <svg class="icon_size" xmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-shield-check" viewBox="0 0 16 16">
                                        <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
                                        <path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                    </svg>
                                    </div>
                                    <h6 class="text-center" style="line-height: 18px;font-size: 15px;">By-law Enforcement</h6>
                                    
                                </div>
                            </a>
    
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>
        <!-- ==================== Start Slider ==================== -->

        <header class="page-header " style="min-height:25vh">

            <div class="container-fluid rest pt-20 pb-20 main-colorbg3" style="overflow:hidden;">
                <div class="row">
                    <div class="col-12">
                        <div class="main-marq dark-text">
                            <div class="slide-har st1">
                                <div class="box non-strok">
                                <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Patrol</span> 
                                        <span class="fz-30 ml-50 mb-5 stroke icon" style="height:30px; width:30px">
                                        <img width="30" heigh="30" src="{% static "assets/imgs/norpro - back.png" %}">
                                        </span></h4>
                                    </div>
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Patrol</span>
                                            <span class="fz-30 ml-50 mb-5  stroke icon" style="height:30px; width:30px">
                                            <img width="30" heigh="30" src="{% static "assets/imgs/norpro - back.png" %}">
                                            </span>
                                        </h4>
                                    </div>
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Patrol</span> 
                                        <span class="fz-30 ml-50 mb-5  stroke icon" style="height:30px; width:30px">
                                            <img width="30" heigh="30" src="{% static "assets/imgs/norpro - back.png" %}">
                                            </span></h4>
                                    </div>
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Patrol</span> 
                                        <span class="fz-30 ml-50 mb-5 stroke icon" style="height:30px; width:30px">
                                        <img width="30" heigh="30" src="{% static "assets/imgs/norpro - back.png" %}">
                                        </span></h4>
                                    </div>
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Patrol</span>
                                            <span class="fz-30 ml-50 mb-5 stroke icon" style="height:30px; width:30px">
                                            <img width="30" heigh="30" src="{% static "assets/imgs/norpro - back.png" %}">
                                            </span>
                                        </h4>
                                    </div>
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Patrol</span> 
                                        <span class="fz-30 ml-50 mb-5 stroke icon" style="height:30px; width:30px">
                                        <img width="30" heigh="30" src="{% static "assets/imgs/norpro - back.png" %}">
                                        </span></h4>
                                    </div>
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Patrol</span> 
                                        <span class="fz-30 ml-50 mb-5 stroke icon" style="height:30px; width:30px">
                                        <img width="30" heigh="30" src="{% static "assets/imgs/norpro - back.png" %}">
                                        </span></h4>
                                    </div>
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Patrol</span> 
                                        <span class="fz-30 ml-50 mb-5 stroke icon" style="height:30px; width:30px">
                                        <img width="30" heigh="30" src="{% static "assets/imgs/norpro - back.png" %}">
                                        </span></h4>
                                    </div>
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Patrol</span> 
                                        <span class="fz-30 ml-50 mb-5 stroke icon" style="height:30px; width:30px">
                                        <img width="30" heigh="30" src="{% static "assets/imgs/norpro - back.png" %}">
                                        </span></h4>
                                    </div>
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Patrol</span> 
                                        <span class="fz-30 ml-50 mb-5 stroke icon" style="height:30px; width:30px">
                                        <img width="30" heigh="30" src="{% static "assets/imgs/norpro - back.png" %}">
                                        </span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- ==================== End Slider ==================== -->

        <section class="process">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-12 col-md-9">
                  <div class="sec-head mb-80">
                    <h3 class="fs-50 fw-700 text-left">Overview</h3>
                    <p class="text-left my-4">Elevate your security with Norpro's Patrol Security Service. Our vigilant patrol guards ensure a safe environment for customers and employees by expertly monitoring premises and personnel. Specially trained in mobile patrol inspections, our guards, whether by car or on foot, conduct thorough spot checks, parking lot patrols, and perimeter sweeps. Equipped with advanced tools, they deliver real-time online reporting, providing enhanced security for your peace of mind. Rely on Norpro for keyholder services, efficient alarm response, window and door checks, emergency response, and adept by-law enforcement. Your security, our priority.</p>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <!-- ==================== End process ==================== -->



        <!-- ==================== Start about ==================== -->

        <section class="block-serv section-padding bord-thin-top"  style="padding: 65px 0;padding-bottom: 0px;">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-9">
                    <div class="sec-head  mb-80">
                        <h3 class=" fs-50 fw-700 text-center">Our Services </h3>
                        <p class="text-center my-4">Experience tranquility knowing that Norpro's top-tier mobile patrol security services have you covered in Northern Ontario.</p>
                    </div>
                </div>
            </div>

            <div class="row color_code" id="keyholder_services" style="background: url('{% static "assets/imgs/key_2.jpg" %}') no-repeat center center/cover;
                background-blend-mode: multiply;
                background-color: rgba(0, 0, 0, 0.6);">
                <div class="col-lg-12 valign mine-modal-1">
                    <div class="content">
                        <div class="item d-flex mb-50">
                            <div>
                                <span class="icon icon_code"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                                <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                </svg></span>
                            </div>
                            <div>
                                <h6>Keyholder Services</h6>
                                <p>Norpro offers comprehensive Keyholder Services, ensuring the highest level of protection for your assets. Our trained professionals act as responsible keyholders, ready to respond swiftly to any security incidents at your facility. With Norpro's commitment to proactive security measures, trust us to safeguard your premises and assets with diligence and reliability. Choose Norpro for secure and trustworthy Keyholder Services, setting the standard for excellence in asset protection.</p>
                            
                                
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row color_code" id="alarm_response">
                <div class="col-lg-6 mb-40">
                    <div class="img">
                        <img src="{% static "assets/imgs/alarms_2.jpg" %}" alt="">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 valign mb-40">
                    <div class="content">
                        <div class="item d-flex mb-50">
                            <div>
                                <span class="icon icon_code"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-alarm" viewBox="0 0 16 16">
                                <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z"/>
                                <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z"/>
                                </svg></span>
                            </div>
                            <div>
                                <h6>Alarm Response</h6>
                                <p>Norpro delivers swift and reliable Alarm Response services to fortify the security of your assets. Our expert team is poised to respond immediately to any alarm triggers, ensuring a rapid and effective resolution to potential threats. With Norpro's commitment to proactive security measures, trust us for vigilant and dependable Alarm Response, setting the standard for excellence in safeguarding your premises and valuables. Choose Norpro for prompt and professional security solutions.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="spot_checks">
                <div class="col-lg-5 valign mb-40  mine-modal-1">
                    <div class="content">
                        <div class="item d-flex mb-50">
                            <div>
                                <span class="icon"> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                                </svg></span>
                            </div>
                            <div>
                                <h6>Spot Checks
                                </h6>
                                <p>Norpro Spot Checks service provides an extra layer of vigilance for your operations. Our skilled professionals conduct targeted and surprise inspections, employing a keen eye for detail to ensure compliance and identify potential risks. With Norpro's commitment to proactive security measures, trust us for thorough and effective spot checks, setting the standard for excellence in maintaining a secure and compliant environment within your operations in Northern Ontario.</p>
                            
                                
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 mb-40  mine-modal">
                    <div class="img">
                        <img src="{% static "assets/imgs/spot_2.jpg" %}" alt="">
                    </div>
                </div>
            </div>
            <div class="row color_code" id="parking_lot_patrol" style="background: url('{% static "assets/imgs/park_2.jpg" %}') no-repeat center center/cover;
                background-blend-mode: multiply;
                background-color: rgba(0, 0, 0, 0.6);">
                <div class="col-lg-12 valign mine-modal-1">
                    <div class="content">
                        <div class="item d-flex mb-50">
                            <div>
                                <span class="icon icon_code"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-car-front" viewBox="0 0 16 16">
                            <path d="M4 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm10 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2H6ZM4.862 4.276 3.906 6.19a.51.51 0 0 0 .497.731c.91-.073 2.35-.17 3.597-.17 1.247 0 2.688.097 3.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 10.691 4H5.309a.5.5 0 0 0-.447.276Z"/>
                            <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM4.82 3a1.5 1.5 0 0 0-1.379.91l-.792 1.847a1.8 1.8 0 0 1-.853.904.807.807 0 0 0-.43.564L1.03 8.904a1.5 1.5 0 0 0-.03.294v.413c0 .796.62 1.448 1.408 1.484 1.555.07 3.786.155 5.592.155 1.806 0 4.037-.084 5.592-.155A1.479 1.479 0 0 0 15 9.611v-.413c0-.099-.01-.197-.03-.294l-.335-1.68a.807.807 0 0 0-.43-.563 1.807 1.807 0 0 1-.853-.904l-.792-1.848A1.5 1.5 0 0 0 11.18 3H4.82Z"/>
                            </svg></span>
                            </div>
                            <div>
                                <h6>Parking Lot Patrol
                                </h6>
                                <p>Norpro introduces Parking Lot Patrol—a specialized service designed to enhance safety and security in parking areas. Our trained professionals conduct proactive patrols, utilizing strategic approaches and advanced technology to ensure the well-being of individuals and the protection of assets. With Norpro's commitment to proactive security measures, trust us for vigilant Parking Lot Patrols, setting the standard for excellence in creating secure environments within operations in Northern Ontario.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row color_code" id="checking_windows_and_doors">
                <div class="col-lg-5 valign mb-40  mine-modal-1">
                    <div class="content">
                        <div class="item d-flex mb-50">
                            <div>
                                <span class="icon icon_code"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
                                <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                                <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
                                </svg></span>
                            </div>
                            <div>
                                <h6>Checking Windows and Doors
                                </h6>
                                <p>Norpro's thorough service for checking windows and doors adds an extra level of security for you. Our trained professionals conduct thorough inspections, ensuring all access points are secure and potential vulnerabilities are identified. With Norpro's commitment to proactive security measures, trust us for detailed and effective window and door inspections, setting the standard of excellence in maintaining a safe and protected environment within your facilities.</p>
                            
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 mb-40  mine-modal">
                    <div class="img">
                        <img src="{% static "assets/imgs/wind_1.jpg" %}" alt="">
                    </div>
                </div>
            </div>
            <div class="row" id="emergency_responses">
                <div class="col-lg-6 mb-40">
                    <div class="img">
                        <img src="{% static "assets/imgs/eme_1.jpg" %}" alt="">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 valign mb-40">
                    <div class="content">
                        <div class="item d-flex mb-50">
                            <div>
                                <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                                </svg></span>
                            </div>
                            <div>
                                <h6>Emergency Responses
                                </h6>
                                <p>Norpro is your trusted partner for Emergency Response services. Our highly trained team is ready to handle a wide range of critical situations, from medical emergencies to crisis interventions. With a commitment to rapid and effective response, Norpro sets the standard for excellence in ensuring the safety and well-being of individuals and organizations. Trust us for reliable Emergency Response services that prioritize your security.</p>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row color_code" id="perimeter_sweeps" style="background: url('{% static "assets/imgs/cc_1.jpg" %}') no-repeat center center/cover;
                background-blend-mode: multiply;
                background-color: rgba(0, 0, 0, 0.6);">
                <div class="col-lg-12 valign mine-modal-1">
                    <div class="content">
                        <div class="item d-flex mb-50">
                            <div>
                                <span class="icon"> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-camera-video" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z"/>
                                </svg></span>
                            </div>
                            <div>
                                <h6>Perimeter Sweeps
                                </h6>
                                <p>Norpro Perimeter Sweeps service ensures a thorough examination of your designated area. Our skilled professionals conduct strategic and meticulous sweeps, using advanced techniques to identify and address potential vulnerabilities. With Norpro's commitment to proactive security measures, trust us for effective and precise perimeter sweeps that set the standard for excellence in safeguarding your property.</p>
                            
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row color_code" id="by_law_enforcement">
                <div class="col-lg-6 mb-40">
                    <div class="img">
                        <img src="{% static "assets/imgs/laws_1.jpg" %}" alt="">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 valign mb-40">
                    <div class="content">
                        <div class="item d-flex mb-50">
                            <div>
                                <span class="icon icon_code"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="38" fill="currentColor" class="bi bi-shield-check" viewBox="0 0 16 16">
                                <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
                                <path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                </svg></span>
                            </div>
                            <div>
                                <h6>By-law Enforcement
                                </h6>
                                <p>Norpro specializes in By-Law Enforcement services, ensuring adherence to regulations and maintaining a secure environment. Our trained professionals are equipped to enforce local by-laws, contributing to the safety and compliance of various premises. With Norpro's commitment to proactive security measures, trust us for effective and responsible by-law enforcement that sets the standard for excellence in promoting order and security.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="contact-crev section-padding dark_gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="sec-lg-head mb-80">
                            <h2 class="fz-50">Get In Touch</h2>
                            <p class="fz-14 mt-10">If you would like to work with us or just want to get in
                                touch, we’d love to hear from you!</p>
                           <div class="phone fz-25 fw-600 mt-30">
                                <a href="tel:18004615114"><i class="bi bi-telephone"></i> 1-800-461-5114</a>
                            </div>
                            <div class="phone fz-25 fw-600 mt-30 ">
                                <a href="mailto:info@norpro.ca"><i class="bi bi-envelope"></i> info@norpro.ca</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1 valign">
                        <div class="full-width">
                            <form  method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="messages"></div>
    
                                <div class="controls row">
                                    
                                    <div class="col-lg-6">
                                        <div class="form-group mb-30">
                                            {{form.name}}
                                        </div>
                                    </div>
    
                                    <div class="col-lg-6">
                                        <div class="form-group mb-30">
                                            {{form.email}}
                                        </div>
                                    </div>
    
                                    <div class="col-lg-6">
                                        <div class="form-group mb-30">
                                            {{form.phone}}
                                        </div>
                                    </div>
    
                                    <div class="col-lg-6">
                                        <div class="form-group mb-30">
                                            {{form.location}}
                                        </div>
                                    </div>
    
                                    <div class="col-12">
                                        <!-- <div class="form-group mb-30">
                                            <input id="form_subject" type="text" name="subject" placeholder="Services">
                                        </div> -->
                                        {{form.service}}
    
                                        
                                    </div>
                                    <div class="col-12">
                                        <!-- <div class="form-group mb-30">
                                            <input id="form_subject" type="text" name="subject" placeholder="Services">
                                        </div> -->
                                        {{form.message}}
    
                                        
                                    </div>
                                    {{ form.type_service }}
    
                                    <div class="col-12">
    
                                        <div class="mt-30">
                                            <button type="submit" class="butn butn-md butn-bord radius-30">
                                                <span class="text">Submit</span>
                                            </button>
                                        </div>
                                    </div>
    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==================== End about ==================== -->

    </main>

    <section  class="section1-padding"></section>
 
{% endblock content %}