{% load static %}
<!DOCTYPE html>
{% load tags %}

<html lang="en" class="dark-style  layout-menu-fixed   " dir="ltr" data-theme="theme-default">

<head>
      <!-- Meta Data -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  
      {% comment %} <meta name="description" content="{{seo_settings.meta_description}}">
    {% if request.is_secure %}
      <link rel="canonical" href="https://{{ request.get_host }}">
    {% else %}
      <link rel="canonical" href="http://{{ request.get_host }}">
    {% endif %}
      <meta name="keywords" content="{{seo_settings.seo_keywords}}" />
    {% if request.is_secure %}
      <meta name="publisher" content="https://{{ request.get_host }}">
    {% else %}
      <meta name="publisher" content="http://{{ request.get_host }}">
    {% endif %}
      <meta name="copyright" content="{{header_footer.footer_copyright}}" />
      <meta name="author" content="{{settings.author}}" />
      <meta name="contact" content="{{settings.email_address}}" />
  
      <meta name="robots" content="index, follow" />
      <meta name="googlebot" content="index, follow" />
      <meta name="subjects" content="{{settings.name}}" />
      <meta name="classification" content="{{settings.name}}" />
  
      <meta itemprop="name" content=" {{seo_settings.meta_title}} | {{seo_settings.meta_description}} ">
      <meta itemprop="description" content="{{seo_settings.meta_description}}">
      <meta itemprop="image" content="{% if request.is_secure %}https://{{ request.get_host }}{{settings.logo.url}}{% else %}http://{{ request.get_host }}{{settings.logo.url}}{% endif %}">
      
      
      <meta property="og:title" content=" {{seo_settings.meta_title}} | {{seo_settings.meta_description}}  " />
      <meta property="og:type" content="{{seo_settings.seo_keywords}}" />
    {% if request.is_secure %}
      <meta property="og:url" content="https://{{ request.get_host }}" />
    {% else %}
      <meta property="og:url" content="http://{{ request.get_host }}" />
    {% endif %}
      <meta property="og:image" content="{% if request.is_secure %}https://{{ request.get_host }}{{settings.logo.url}}{% else %}http://{{ request.get_host }}{{settings.logo.url}}{% endif %}" />
      <meta property="og:site_name" content="{{settings.name}}" />
      <meta property="og:description" content="{{seo_settings.meta_description}}" /> {% endcomment %}
    <!-- Your other meta tags go here -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  <title>{% block title %}{% endblock title %}</title>
  <!-- Canonical SEO -->
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{% static 'crm/assets/img/N1Security.png' %}" />

  
      <!-- Google Tag Manager (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-5DDHKGP');

  </script>
  <!-- End Google Tag Manager -->
    

  <!-- Include Styles -->
  
  <!-- BEGIN: Theme CSS-->
<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/6.7.0/css/flag-icons.min.css" integrity="sha512-s/Nra58/et4CDKSnhUiPrce+8M5tdK1Ps0+9dKe4I9JH/g0QGzsPAdf1fLeBsMTMG1zWMBsnzxvPgTOAFUHwLQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Core CSS -->
<link rel="stylesheet" href="{% static 'crm/assets/css/core.css' %}" class="template-customizer-core-css" />
<link rel="stylesheet" href="{% static 'crm/assets/css/theme-default.css' %}" class="template-customizer-theme-css" />
<link rel="stylesheet" href="{% static 'crm/assets/css/demo.css' %}" />

<link rel="stylesheet" href="{% static 'crm/assets/css/perfect-scrollbar.css' %}" />
<link rel="stylesheet" href="{% static 'crm/assets/css/typeahead.css' %}" />

<!-- Vendor Styles -->
<link rel="stylesheet" href="{% static 'crm/assets/css/apex-charts.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">

    <!-- Add jQuery (required by Select2) from the CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Add the Select2 JavaScript from the CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<!-- Page Styles -->

<!-- Include Scripts for customizer, helper, analytics, config -->
<!-- laravel style -->
<script src="{% static 'crm/assets/js/helpers.js' %}"></script>
<!-- beautify ignore:start -->
<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
<!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
<script src="{% static 'crm/assets/js/template-customizer.js' %}"></script>

<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script src="{% static 'crm/assets/js/config.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script>
  window.templateCustomizer = new TemplateCustomizer({
    cssPath: '',
    themesPath: '',
    defaultShowDropdownOnHover: true, // true/false (for horizontal layout only)
    displayCustomizer: true,
    lang: 'en',
    pathResolver: function(path) {
      var resolvedPaths = {
        // Core stylesheets
        'core.css': '{% static "crm/assets/css/core.css" %}',
        'core-dark.css': '{% static "crm/assets/css/core-dark.css" %}',

        // Themes
        'theme-default.css': '{% static "crm/assets/css/theme-default.css" %}',
        'theme-default-dark.css': '{% static "crm/assets/css/theme-default-dark.css" %}',
        'theme-bordered.css': '{% static "crm/assets/css/theme-bordered.css" %}',
        'theme-bordered-dark.css': '{% static "crm/assets/css/theme-bordered-dark.css" %}',
        'theme-semi-dark.css': '{% static "crm/assets/css/theme-semi-dark.css" %}',
        'theme-semi-dark-dark.css': '{% static "crm/assets/css/theme-semi-dark-dark.css" %}',
      };
      return resolvedPaths[path] || path;
    },
    controls: ["rtl", "style", "layoutType", "showDropdownOnHover", "layoutNavbarFixed", "layoutFooterFixed", "themes"],
  });
</script>

  <!-- beautify ignore:end -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="async" src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'GA_MEASUREMENT_ID');

</script>
  {% comment %} <script>
    $(document).ready(function () {
      alert("hel")
      $('#id_assigned_to').select2();
    });
  </script> {% endcomment %}
<style>
  a.nav-item.nav-link.search-toggler.px-0 {
    display: none;
}

</style>
</head>

<body>
  
      <!-- Google Tag Manager (noscript) (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
        
    
      <!-- Layout Content -->
      <div class="layout-wrapper layout-content-navbar ">
      <div class="layout-container">
    
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    
      <!-- ! Hide app brand if navbar-full -->
        <div class="app-brand demo">
        <a href="{% url "admin_home" %}" class="app-brand-link">
          <span class="app-brand-logo demo">
            <img style="object-fit: contain;width: 100%;height: 50px;" src="{% static 'crm/assets/img/new-logos.png' %}" width="210" height="50" alt="" srcset="">
          </span>
        </a>
    
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
          <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
      </div>
      
      <div class="menu-inner-shadow"></div>
    
      <ul class="menu-inner py-1">
        {% comment %} <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div>Dashboards</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item active">
              <a href="#" class="menu-link">
                <div>CRM</div>
              </a>
            </li>
            <li class="menu-item active">
              <a href="#" class="menu-link">
                <div>Admin</div>
              </a>
            </li>
          </ul>
        </li> {% endcomment %}
        <li class="menu-header small text-uppercase">
          <img class="menu-icon" src="{% static "crm/assets/img/settings.svg" %}" alt="">
          <span class="menu-header-text">Manage</span>
        </li>


        {% url 'role_list' as role_list %}
        {% url 'Create_Role' as Create_Role %}
        {% url 'Editrole' roles.id as Edituser %}

        {% has_permission 'View Role List' as role_permission %}
        {% if request.user.is_superuser or role_permission %}
        <li class="menu-item{% if request.path == role_list %} active {% endif %}
        {% if request.path == Create_Role %} active {% endif %} {% if request.path == Editrole %} active {% endif %}">
          <a href="{% url "role_list" %}" class="menu-link">
            <img class="menu-icon" src="{% static "crm/assets/img/role.svg" %}" alt="">
            <div>Role</div>
          </a>
        </li>
        {% endif %}


        {% url 'user_list' as user_list %}
        {% url 'Create_User' as Create_User %}
        {% url 'Edituser' user_custome.id as Edituser %}
        
        {% has_permission 'View User List' as user_permission %}
        {% if request.user.is_superuser or user_permission %}
        <li class="menu-item{% if request.path == user_list %} active {% endif %}
        {% if request.path == Create_User %} active {% endif %} {% if request.path == Edituser %} active {% endif %}">
          <a href="{% url "user_list" %}" class="menu-link">
            <img class="menu-icon" src="{% static "crm/assets/img/user.svg" %}" alt="">
            <div>User</div>
          </a>
        </li>
        {% endif %}
        

        {% url 'permission_list' as permission_list %}
        {% url 'Create_Permission' as Create_Permission %}
        {% url 'Editpermission' permissions.id as Editpermission %}

        {% has_permission 'View Permission List' as path_permission %}
        {% if request.user.is_superuser or path_permission %}
        <li class="menu-item{% if request.path == permission_list %} active {% endif %}
        {% if request.path == Create_Permission %} active {% endif %} {% if request.path == Editpermission %} active {% endif %}">
          <a href="{% url "permission_list" %}" class="menu-link">
            <img class="menu-icon" src="{% static "crm/assets/img/path.svg" %}" alt="">
            <div>Permission</div>
          </a>
        </li>
        {% endif %}

        {% url 'department_list' as department_list %}
        {% url 'department_create' as department_create %}
        {% url 'department_edit' department.id as department_edit %}

        {% has_permission 'View Department List' as department_permission %}
        {% if request.user.is_superuser or department_permission %}
        <li class="menu-item{% if request.path == department_list %} active {% endif %}
        {% if request.path == department_create %} active {% endif %} {% if request.path == department_edit %} active {% endif %}">
          <a href="{% url "department_list" %}" class="menu-link">
            <img class="menu-icon" src="{% static "crm/assets/img/department.svg" %}" alt="">
            <div>Department</div>
          </a>
        </li>
        {% endif %}



        <li class="menu-header small text-uppercase">
          <span class="menu-header-text">Dashboard</span>
        </li>

        {% url 'teams_list' as teams_list %}
        {% url 'Create_Teams' as Create_Teams %}
        {% url 'EditTeams' teams.id as EditTeams %}

        {% has_permission 'View Teams List' as teams_permission %}
        {% if request.user.is_superuser or teams_permission %}
        <li class="menu-item{% if request.path == teams_list %} active {% endif %}
        {% if request.path == Create_Teams %} active {% endif %} {% if request.path == EditTeams %} active {% endif %}">
          <a href="{% url "teams_list" %}" class="menu-link">
            <img class="menu-icon" src="{% static "crm/assets/img/teams.svg" %}" alt="">
            <div>Teams</div>
          </a>
        </li>
        {% endif %}

        {% url 'testimonial_list' as testimonial_list %}
        {% url 'testimonial_create' as testimonial_create %}
        {% url 'testimonial_edit' testimonial.id as testimonial_edit %}

        {% has_permission 'View Testimonial List' as testimonial_permission %}
        {% if request.user.is_superuser or testimonial_permission %}
        <li class="menu-item{% if request.path == testimonial_list %} active {% endif %}
        {% if request.path == testimonial_create %} active {% endif %} {% if request.path == testimonial_edit %} active {% endif %}">
          <a href="{% url "testimonial_list" %}" class="menu-link">
            <img class="menu-icon" src="{% static "crm/assets/img/testimo.svg" %}" alt="">
            <div>Testimonial</div>
          </a>
        </li>
        {% endif %}

        {% url 'company_testimonial_list' as company_testimonial_list %}
        {% url 'company_testimonial_create' as company_testimonial_create %}
        {% url 'company_testimonial_edit' company_testimonial.id as company_testimonial_edit %}

        {% has_permission 'View Company Testimonial List' as company_testimonial_permission %}
        {% if request.user.is_superuser or company_testimonial_permission %}
        <li class="menu-item{% if request.path == company_testimonial_list %} active {% endif %}
        {% if request.path == company_testimonial_create %} active {% endif %} {% if request.path == company_testimonial_edit %} active {% endif %}">
          <a href="{% url "company_testimonial_list" %}" class="menu-link">
            <img class="menu-icon" src="{% static "crm/assets/img/test-com.svg" %}" alt="">
            <div>Company Testimonial</div>
          </a>
        </li>
        {% endif %}

        {% url 'career_list' as career_list %}
        {% url 'career_create' as career_create %}
        {% url 'career_edit' careers.id as career_edit %}

        {% has_permission 'View Career List' as career_permission %}
        {% if request.user.is_superuser or career_permission %}
        <li class="menu-item{% if request.path == career_list %} active {% endif %}
        {% if request.path == career_create %} active {% endif %} {% if request.path == career_edit %} active {% endif %}">
          <a href="{% url "career_list" %}" class="menu-link">
           <img class="menu-icon" src="{% static "crm/assets/img/career.svg" %}" alt="">
            <div>Career</div>
          </a>
        </li>
        {% endif %}


        {% url 'newsevents_list' as newsevents_list %}
        {% url 'newsevents_create' as newsevents_create %}
        {% url 'newsevents_edit' news_and_events.id as newsevents_edit %}

        {% has_permission 'View News and Events List' as news_and_events_permission %}
        {% if request.user.is_superuser or news_and_events_permission %}
        <li class="menu-item{% if request.path == newsevents_list %} active {% endif %}
        {% if request.path == newsevents_create %} active {% endif %} {% if request.path == newsevents_edit %} active {% endif %}">
          <a href="{% url "newsevents_list" %}" class="menu-link">
            <img class="menu-icon" src="{% static "crm/assets/img/news.svg" %}" alt="">
            <div>News And Events</div>
          </a>
        </li>
        {% endif %}


        {% url 'calendar_list' as calendar_list %}
        {% url 'calendar_create' as calendar_create %}
        {% url 'calendar_edit' calendar.id as calendar_edit %}

        {% has_permission 'View Calendar List' as calendar_permission %}
        {% if request.user.is_superuser or calendar_permission %}
        <li class="menu-item{% if request.path == calendar_list %} active {% endif %}
        {% if request.path == calendar_create %} active {% endif %} {% if request.path == calendar_edit %} active {% endif %}">
          <a href="{% url "calendar_list" %}" class="menu-link">
            <img class="menu-icon" src="{% static "crm/assets/img/calendar.svg" %}" alt="">
            <div>Calendar</div>
          </a>
        </li>
        {% endif %}

        {% url 'gallery_list' as gallery_list %}
        {% url 'create_gallery' as create_gallery %}
        {% url 'gallery_edit' gallery.id as gallery_edit %}

        {% has_permission 'View Gallery List' as gallery_permission %}
        {% if request.user.is_superuser or gallery_permission %}
        <li class="menu-item{% if request.path == gallery_list %} active {% endif %}
        {% if request.path == create_gallery %} active {% endif %} {% if request.path == gallery_edit %} active {% endif %}">
          <a href="{% url "gallery_list" %}" class="menu-link">
            <img class="menu-icon" src="{% static "crm/assets/img/gallery.svg" %}" alt="">
            <div>Gallery</div>
          </a>
        </li>
        {% endif %}


        {% url 'course_list' as course_list %}
        {% url 'create_course' as create_course %}
        {% url 'course_edit' course.id as course_edit %}
        {% url 'application_list' course.id as application_list %}

        {% has_permission 'View Course List' as course_permission %}
        {% if request.user.is_superuser or course_permission %}
        <li class="menu-item{% if request.path == course_list %} active {% endif %}
        {% if request.path == create_course %} active {% endif %} {% if request.path == course_edit %} active {% endif %} {% if request.path == application_list %} active {% endif %}">
          <a href="{% url "course_list" %}" class="menu-link">
            <img class="menu-icon" src="{% static "crm/assets/img/course.svg" %}" alt="">
            <div>Training Schedules</div>
          </a>
        </li>
        {% endif %}

        {% url 'service_form' as service_form %}

        {% has_permission 'View Service Form' as service_permission %}
        {% if request.user.is_superuser or service_permission %}
        <li class="menu-item{% if request.path == service_form %} active {% endif %}">
          <a href="{% url "service_form" %}" class="menu-link">
            <img class="menu-icon" src="{% static "crm/assets/img/forms_form.svg" %}" alt="">
            <div>Service Form</div>
          </a>
        </li>
        {% endif %}

        {% url 'contact_form' as contact_form %}

        {% has_permission 'View Contact Form' as contact_permission %}
        {% if request.user.is_superuser or contact_permission %}
        <li class="menu-item{% if request.path == contact_form %} active {% endif %}">
          <a href="{% url "contact_form" %}" class="menu-link">
            <img class="menu-icon" src="{% static "crm/assets/img/contact.svg" %}" alt="">
            <div>Contact Form</div>
          </a>
        </li>
        {% endif %}

        {% url 'formcareer' as formcareer %}

        {% has_permission 'View Career Form' as career_permission %}
        {% if request.user.is_superuser or career_permission %}
        <li class="menu-item{% if request.path == formcareer %} active {% endif %}">
          <a href="{% url "formcareer" %}" class="menu-link">
            <img class="menu-icon" src="{% static "crm/assets/img/forms_all.svg" %}" alt="">
            <div>Career Form</div>
          </a>
        </li>
        {% endif %}

        {% url 'academy_form' as academy_form %}

        {% has_permission 'View Academy Form' as academy_permission %}
        {% if request.user.is_superuser or academy_permission %}
        <li class="menu-item{% if request.path == academy_form %} active {% endif %}">
          <a href="{% url "academy_form" %}" class="menu-link">
            <img class="menu-icon" src="{% static "crm/assets/img/forms_all.svg" %}" alt="">
            <div>Academy Form</div>
          </a>
        </li>
        {% endif %}

        {% url 'employee_referral_form' as employee_referral_form %}

        {% has_permission 'View Employee Referral Form' as employee_referral_form_permission %}
        {% if request.user.is_superuser or employee_referral_form_permission %}
        <li class="menu-item{% if request.path == employee_referral_form %} active {% endif %}">
          <a href="{% url "employee_referral_form" %}" class="menu-link">
            <img class="menu-icon" src="{% static "crm/assets/img/forms_all.svg" %}" alt="">
            <div>Employee Referral Form</div>
          </a>
        </li>
        {% endif %}

        {% url 'Create_qrcode' as Create_qrcode %}

        {% has_permission 'View & Add Qrcode' as qrcode_permission %}
        {% if request.user.is_superuser or qrcode_permission %}
        <li class="menu-item{% if request.path == Create_qrcode %} active {% endif %}">
          <a href="{% url "Create_qrcode" %}" class="menu-link">
            <img class="menu-icon" src="{% static "crm/assets/img/qrcode.svg" %}" alt="">
            <div>QR Code</div>
          </a>
        </li>
        {% endif %}


        <li class="menu-header small text-uppercase">
          <span class="menu-header-text">Employee's Alert</span>
        </li>

        {% url 'alert_list' as alert_list %}
        {% url 'create_alert' as create_alert %}
        {% url 'alert_edit' alert.id as alert_edit %}

        {% has_permission 'View Alert List' as alert_permission %}
        {% if request.user.is_superuser or alert_permission %}
        <li class="menu-item{% if request.path == alert_list %} active {% endif %}
        {% if request.path == create_alert %} active {% endif %} {% if request.path == alert_edit %} active {% endif %}">
          <a href="{% url "alert_list" %}" class="menu-link">
            <img class="menu-icon" src="{% static "crm/assets/img/alert.svg" %}" alt="">
            <div>Alert</div>
          </a>
        </li>
        {% endif %}


        {% url 'announcement_list' as announcement_list %}
        {% url 'create_announcement' as create_announcement %}
        {% url 'announcement_edit' announcement.id as announcement_edit %}

        {% has_permission 'View Announcement List' as announcement_permission %}
        {% if request.user.is_superuser or announcement_permission %}
        <li class="menu-item{% if request.path == announcement_list %} active {% endif %}
        {% if request.path == create_announcement %} active {% endif %} {% if request.path == announcement_edit %} active {% endif %}">
          <a href="{% url "announcement_list" %}" class="menu-link">
            <img class="menu-icon" src="{% static "crm/assets/img/announcement.svg" %}" alt="">
            <div>Announcement</div>
          </a>
        </li>
        {% endif %}

        {% url 'banner_list' as banner_list %}
        {% url 'create_banner' as create_banner %}
        {% url 'banner_edit' banner.id as banner_edit %}

        {% has_permission 'View Banner List' as banner_permission %}
        {% if request.user.is_superuser or banner_permission %}
        <li class="menu-item{% if request.path == banner_list %} active {% endif %}
        {% if request.path == create_banner %} active {% endif %} {% if request.path == banner_edit %} active {% endif %}">
          <a href="{% url "banner_list" %}" class="menu-link">
            <img class="menu-icon" src="{% static "crm/assets/img/banner.svg" %}" alt="">
            <div>Banner</div>
          </a>
        </li>
        {% endif %}


        {% url 'news_list' as news_list %}
        {% url 'create_news' as create_news %}
        {% url 'news_edit' news.id as news_edit %}

        {% has_permission 'View Banner List' as banner_permission %}
        {% if request.user.is_superuser or banner_permission %}
        <li class="menu-item{% if request.path == news_list %} active {% endif %}
        {% if request.path == create_news %} active {% endif %} {% if request.path == news_edit %} active {% endif %}">
          <a href="{% url "news_list" %}" class="menu-link">
            <img class="menu-icon" src="{% static "crm/assets/img/news_1.svg" %}" alt="">
            <div>News</div>
          </a>
        </li>
        {% endif %}

          
        {% comment %} <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-message-alt-detail"></i>
            <div>Career</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item active">
              <a href="{% url "career_list" %}" class="menu-link">
                <div>List</div>
              </a>
            </li>
            <li class="menu-item active">
              <a href="{% url "career_create" %}" class="menu-link">
                <div>Create</div>
              </a>
            </li>
          </ul>
        </li>

        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-message-alt-detail"></i>
            <div>Company Testimonial</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item active">
              <a href="{% url "company_testimonial_list" %}" class="menu-link">
                <div>List</div>
              </a>
            </li>
            <li class="menu-item active">
              <a href="{% url "company_testimonial_create" %}" class="menu-link">
                <div>Create</div>
              </a>
            </li>
          </ul>
        </li> {% endcomment %}


        {% comment %} <li class="menu-header small text-uppercase">
          <span class="menu-header-text">Web Config</span>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-cog"></i>
            <div>Settings</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item active">
              <a href="" class="menu-link">
                <div>Website Setting</div>
              </a>
            </li>
            <li class="menu-item active">
              <a href="" class="menu-link">
                <div>Header Footer</div>
              </a>
            </li>
            <li class="menu-item active">
              <a href="" class="menu-link">
                <div>Menus</div>
              </a>
            </li>
            <li class="menu-item active">
              <a href="" class="menu-link">
                <div>SEO</div>
              </a>
            </li>
          </ul>
        </li> {% endcomment %}

        <li >
        </li>
      </ul>  
    
    </aside>
        
    
        <!-- Layout page -->
        <div class="layout-page">
    
          
          
    
          <!-- BEGIN: Navbar-->
                <!-- Navbar -->
    <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
        
          <!--  Brand demo (display only for navbar-full and hide on below xl) -->
          
          <!-- ! Not required for layout-without-menu -->
                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0  d-xl-none ">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
              <i class="bx bx-menu bx-sm"></i>
            </a>
          </div>
          
          <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    
                    <!-- Search -->
            <div class="navbar-nav align-items-center">
              <div class="nav-item navbar-search-wrapper mb-0">
                <a class="nav-item nav-link search-toggler px-0" href="javascript:void(0);">
                  <i class="bx bx-search bx-sm"></i>
                  <span class="d-none d-md-inline-block text-muted">Search (Ctrl+/)</span>
                </a>
              </div>
            </div>
            <!-- /Search -->
            
            <ul class="navbar-nav flex-row align-items-center ms-auto">
              
              
              <!-- Style Switcher -->
              <li class="nav-item me-2 me-xl-0">
                <a class="nav-link style-switcher-toggle hide-arrow" href="javascript:void(0);">
                  <i class='bx bx-sm'></i>
                </a>
              </li>
              <!--/ Style Switcher -->
    
              <!-- Notification -->
              {% comment %} <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-1">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                  <i class="bx bx-bell bx-sm"></i>
                  {% if opened_ticket %}
                  <span class="badge bg-danger rounded-pill badge-notifications">{{opened_ticket.count}}</span>
                  {% endif %}
                </a>
                <ul class="dropdown-menu dropdown-menu-end py-0">
                  <li class="dropdown-menu-header border-bottom">
                    <div class="dropdown-header d-flex align-items-center py-3">
                      <h5 class="text-body mb-0 me-auto">Unsolved Tickets</h5>
                    </div>
                  </li>
                  <li class="dropdown-notifications-list scrollable-container">
                    <ul class="list-group list-group-flush">
                      {% if opened_ticket %}
                      {% for ticket in opened_ticket %}
                      <a href="{% url 'ticketView' ticket.id %}">
                      <li class="list-group-item list-group-item-action dropdown-notifications-item">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar">
                              <img src="{{ticket.client.userprofile.getUserImage}}" alt class="w-px-40 h-auto rounded-circle">
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <h6 class="mb-1">{{ticket.title}}</h6>
                            <p class="mb-0">{{ticket.description|slice:":25"}}...</p>
                            <small class="text-muted">{{ticket.created_at}}</small>
                          </div>

                        </div>
                      </li>
                    </a>
                      {% endfor %}
                      {% else %}
                      <li  class="list-group-item list-group-item-action dropdown-notifications-item"><p>You don't have any unsolved tickets</p></li>
                      {% endif %}

                    </ul>
                  </li>
                  <li class="dropdown-menu-footer border-top">
                    <a href="#" class="dropdown-item d-flex justify-content-center text-primary p-2 h-px-40">
                      View all
                    </a>
                  </li>
                </ul>
              </li> {% endcomment %}
              <!--/ Notification -->
    
              <!-- User -->
              <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                  <div class="avatar avatar-online">

                    <img src="https://ui-avatars.com/api/?background=a3a4cc&color=fff&size=256&name={{ user.username }}&rounded=true&bold=true" alt class="w-px-40 h-auto rounded-circle">
                  </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="dropdown-item" href="">
                      <div class="d-flex">
                        <div class="flex-shrink-0 me-3">
                          <div class="avatar avatar-online">

                            <img src="https://ui-avatars.com/api/?background=a3a4cc&color=fff&size=256&name={{ user.username }}&rounded=true&bold=true" alt class="w-px-40 h-auto rounded-circle">
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <span class="fw-semibold d-block">{{user.username}}</span>
                          <small class="text-muted">Admin</small>
                        </div>
                      </div>
                    </a>
                  </li>
                  {% comment %} <li>
                    <div class="dropdown-divider"></div>
                  </li>
                  <li>
                    <a class="dropdown-item" href="">
                      <i class="bx bx-user me-2"></i>
                      <span class="align-middle">My Profile</span>
                    </a>
                  </li>
                                <li>
                    <a class="dropdown-item" href="">
                      <i class="bx bx-cog me-2"></i>
                      <span class="align-middle">Settings</span>
                    </a>
                  </li> {% endcomment %}
                                <li>
                    <div class="dropdown-divider"></div>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url "change_password" %}">
                      <i class="bx bx-lock me-2"></i>
                      <span class="align-middle">Change Password</span>
                    </a>
                  </li>
                  <li>
                  <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">
                      <i class="bx bx-log-out me-2"></i>
                      <span class="align-middle">Log Out</span>
                    </button>
                  </form>
                                  
                  </li>
                              </ul>
              </li>
              <!--/ User -->
            </ul>
          </div>
    
          <!-- Search Small Screens -->
          <div class="navbar-search-wrapper search-input-wrapper  d-none">
            <input type="text" class="form-control search-input container-xxl border-0" placeholder="Search..." aria-label="Search...">
            <i class="bx bx-x bx-sm search-toggler cursor-pointer"></i>
          </div>
    
            </nav>
      <!-- / Navbar -->
                <!-- END: Navbar-->


    {% block content %}{% endblock content %}

          <!-- Footer -->
                    <!-- Footer-->
<footer class="content-footer footer bg-footer-theme">
  <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
    <div class="mb-2 mb-md-0">
      <p class="mb-0">Copyright © <span id="currentYear"></span> {{settings.name}}. All rights reserved.</p>

          <script>
            // Get the current year
            var currentYear = new Date().getFullYear();
            
            // Display the current year in the HTML
            document.getElementById("currentYear").textContent = currentYear;
          </script>
    </div>
  </div>
</footer>
<!--/ Footer-->
                    <!-- / Footer -->
          <div class="content-backdrop fade"></div>
        </div>
        <!--/ Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>

        <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
        <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
  </div>
  <!-- / Layout wrapper -->
    <!--/ Layout Content -->
  

  <!-- Include Scripts -->
  <!-- BEGIN: Vendor JS -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'crm/assets/js/jquery.js' %}"></script>
<script src="{% static 'crm/assets/js/popper.js' %}"></script>
<script src="{% static 'crm/assets/js/bootstrap.js' %}"></script>
<script src="{% static 'crm/assets/js/perfect-scrollbar.js' %}"></script>
<script src="{% static 'crm/assets/js/hammer.js' %}"></script>
<script src="{% static 'crm/assets/js/typeahead.js' %}"></script>
<script src="{% static 'crm/assets/js/menu.js' %}"></script>
<script src="{% static 'crm/assets/js/apexcharts.js' %}"></script>
<script src="{% static 'crm/assets/js/crmchart.js' %}"></script>

<!-- END: Page Vendor JS -->
<!-- BEGIN: Theme JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/dist/boxicons.js" integrity="sha512-Dm5UxqUSgNd93XG7eseoOrScyM1BVs65GrwmavP0D0DujOA8mjiBfyj71wmI2VQZKnnZQsSWWsxDKNiQIqk8sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'crm/assets/js/main.js' %}"></script>
<!-- END: Theme JS -->
<!-- Pricing Modal JS -->
<!-- END: Pricing Modal JS -->
<!-- BEGIN: Page JS -->
<script src="{% static 'crm/assets/js/dashboards-analytics.js' %}"></script>
<!-- END: Page JS -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "1000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "slideDown",
            "hideMethod": "slideUp"
        };

        // Display Toastr notifications based on Django messages
        {% for message in messages %}
            if ("{{ message.tags }}" === "success") {
            toastr.success("{{ message|safe }}");
            } else if ("{{ message.tags }}" === "error") {
            toastr.error("{{ message }}");
            } else if ("{{ message.tags }}" === "info") {
            toastr.info("{{ message|safe }}");
            } else if ("{{ message.tags }}" === "warning") {
            toastr.warning("{{ message|safe }}");
            }
        {% endfor %}
    </script>
</body>

</html>