{% extends 'crm/base.html' %}
{% load static %}
{% block title %} Announcement list {% endblock title %}
{% block content %}
<style>
    .btn-group-sm>.btn-icon.btn,
    .btn-icon.btn-sm {
        font-size: 1.2rem !important;
        height: calc(1.625rem + 2px);
        width: calc(1.625rem + 2px);
    }

    @media (min-width: 992px) {
        .card-datatable.table-responsive {
            overflow-x: hidden;
        }
    }
    .sform {
        margin-top: -25px;
    }
</style>

<!-- Content wrapper -->
<div class="content-wrapper">

    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h4 class="fw-bold py-3 mb-4">
                    <span class="text-muted fw-light"></span><a href="{% url "announcement_list" %}">Announcement</a> / List
                </h4>
            </div>
            <div class="col-md-6 sform">
                <form method="get" action="#" class="d-flex justify-content-end">
                    <input name="search" type="text" class="form-control" value="{{ request.GET.search }}" placeholder="Search by heading / department" style="margin-right: 5px;">
                    <input type="submit" class="btn btn-primary" value="Search">
                </form>
            </div>
        </div>
        <!--Table Card-->
        <div class="card">
            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="card-header flex-column flex-md-row">
                        <div class="head-label">
                            <h5 class="card-title mb-0">Announcement List</h5>
                        </div>
                        <div class="dt-action-buttons text-end pt-3 pt-md-0">
                            <div class="dt-buttons btn-group flex-wrap">
                                <a class="btn btn-secondary create-new btn-primary" href="{% url "announcement_create" %}" tabindex="0" aria-controls="DataTables_Table_0" type="button">
                                    <span style="display:flex; align-items:center;"><i class="bx bx-plus me-sm-1"></i> <span class="d-none d-sm-inline-block">Add New Announcement</span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <table class="datatables-basic table border-top dataTable no-footer dtr-column collapsed" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                        <thead>
                            <tr>
                                <th style="width: 0px;">#</th>
                                <th style="width: 0px;">Header</th>
                                <th style="width: 200px;">Department</th>
                                <th style="width: 100px;">Expire Date</th>
                                <th style="width: 50px;">Status</th>
                                <th style="width: 90px;" class="dtr-hidden">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for announcement in announcement_p %}
                            <tr class="odd">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ announcement.heading }}</td>
                                <td>
                                    {% for department in announcement.department.all %}
                                        {% if forloop.first %}
                                            {{ forloop.counter }}. {{ department.title }}
                                        {% else %}
                                            <br>{{ forloop.counter }}. {{ department.title }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ announcement.Expire_date|date:"d-m-Y" }}</td>
                                <td> 
                                     {% if announcement.status == 1 %}
                                        Active
                                    {% elif announcement.status == 0 %}
                                        Inactive
                                    {% else %}
                                    {% endif %}
                                </td>
                                <td class="dtr-hidden" style="">
                                    <a href="{% url 'announcement_edit' announcement.id %}" class="btn btn-sm btn-icon item-edit">
                                        <i class="bx bxs-edit"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-12">
                            <div class="m-3">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
                                            Showing {{ announcement_p.start_index }} to {{ announcement_p.end_index }} of {{ announcement_p.paginator.count }} entries
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 text-end">
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                            <ul class="pagination justify-content-end">
                                                {% if announcement_p.has_previous %}
                                                    <li class="paginate_button page-item previous">
                                                        <a href="?page={{ announcement_p.previouannouncement_p_number }}&search={{ request.GET.search }}" aria-controls="DataTables_Table_0" class="page-link">Previous</a>
                                                    </li>
                                                {% else %}
                                                    <li class="paginate_button page-item previous disabled">
                                                        <a href="#" aria-controls="DataTables_Table_0" class="page-link">Previous</a>
                                                    </li>
                                                {% endif %}

                                                <!-- Pagination numbers -->
                                                {% if announcement_p.number > 3 %}
                                                    <li class="paginate_button page-item">
                                                        <a href="?page=1&search={{ request.GET.search }}" aria-controls="DataTables_Table_0" class="page-link">...</a>
                                                    </li>
                                                {% endif %}

                                                {% for i in announcement_p.paginator.page_range %}
                                                    {% if announcement_p.number == i %}
                                                        <li class="paginate_button page-item active">
                                                            <a href="?page={{ i }}&search={{ request.GET.search }}" aria-controls="DataTables_Table_0" class="page-link">{{ i }}</a>
                                                        </li>
                                                    {% elif i > announcement_p.number|add:'-3' and i < announcement_p.number|add:'3' %}
                                                        <li class="paginate_button page-item">
                                                            <a href="?page={{ i }}&search={{ request.GET.search }}" aria-controls="DataTables_Table_0" class="page-link">{{ i }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}

                                                {% if announcement_p.paginator.num_pages > announcement_p.number|add:'3' %}
                                                    <li class="paginate_button page-item">
                                                        <a href="?page={{ announcement_p.paginator.num_pages }}&search={{ request.GET.search }}" aria-controls="DataTables_Table_0" class="page-link">...</a>
                                                    </li>
                                                {% endif %}

                                                {% if announcement_p.has_next %}
                                                    <li class="paginate_button page-item next">
                                                        <a href="?page={{ announcement_p.next_page_number }}&search={{ request.GET.search }}" aria-controls="DataTables_Table_0" class="page-link">Next</a>
                                                    </li>
                                                {% else %}
                                                    <li class="paginate_button page-item next disabled">
                                                        <a href="#" aria-controls="DataTables_Table_0" class="page-link">Next</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div> <!--Table Card-->
        </div>
        
        <!-- / Content -->


    </div>
    <!-- Content wrapper -->

{% endblock content %}
